
body {
    background-color: var(--Primary);
}

img {
    width: 420px;
    margin: 4rem 1rem 2rem 16rem;
}

h1 {
    font-size: 3rem;
    font-family: var(--Heading-Font);
}

.container {
    display: flex;
}

.w_msg {
    margin: auto 6rem;
    color: var(--White);
}

.m_msg {
    display: none;
}

.btn-wrap {
    width: 100vw;
    margin: 3rem auto 0;
    text-align: center;
}

.btn{
    margin: 0 2rem;
    padding: 0.8rem 1rem;
    width: 12rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-weight: 900;
    border: 2px solid var(--White);
    font-family: var(--Heading-Font);
}

.back-to-home {
    background-color: var(--Primary);
    color: var(--White);
}

.back-to-home:hover {
    border: 2px solid var(--Text-Color);
}

.check-it {
    background-color: var(--Light-Gray);
    color: var(--Primary);
}

.check-it:hover {
    border: 2px solid var(--Secondary-Light);
    background-color: var(--Secondary-Light);
}


@media (max-width: 600px) {

    .w_msg {
        display: none;
    }

    .container {
        width: 100vw;
        display: block;
    }

    .m_msg {
        display: block;
        line-height: 2.5rem;
        position: absolute;
        top: 7rem;
        left: 5rem;
    }

    img {
        width: 65vw;
        height: 18rem;
        object-fit:cover;
        margin: 12rem 5.5rem 0 5.5rem; 
    }


    h1 {
        font-size: 2rem;
        color: var(--White);
    }

    .btn-wrap {
        display: flex;
        flex-direction: column-reverse;
        margin: 2rem auto 0;
    }

    .btn {
        padding: 0.7rem;
        margin: 0.7rem auto;
        font-size: 1rem;
    }

}
