/*---- Top Bar ----*/
nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}
/* ----------------------------------------- */
/* Heading Text */
.main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 4rem 0 6rem;
}

.heading-wrap {
    margin: 5rem auto 1rem;
    grid-area: 1 / 1 / 2 / 3; 
}

.heading {
    margin: 0;
    font-size: 3rem;
    text-align: center;
    display: block;
}

/* ----- Form Inputs ----- */
.left-container {
    width: 80% ;
    margin: 0 3rem 0 5rem;
}

.input-fields {
    margin: 1.3rem auto;
    color: var(--Text-Color);
    display: block;
}

input, select, textarea {
    flex-grow: 1;
    border: none;
    color: var(--Text-Color);
    font-family: var(--Body-Font);
    border-bottom: 1px solid #CCCCCC;
    font-size: 1rem;
    display: block;
    width: 100%;
}

input::placeholder {
    color: var(--Text-Color);
}

input:focus, textarea:focus, .drop-down{
    outline: none;
}

.desc label {
    font-size: 1rem;
}

.desc textarea {
    width: 100%;
    height: 7rem;
    border: 1px solid #CCCCCC; 
    padding: 0.5rem;
    font-family: var(--Body-Font);
    font-size: 1rem;
    border-radius: 10px;
}

/* --------- RIGHT Container --------- */
input[type="file"] {
    display: none;
 }
 
 .right-container {
     margin: 1.5rem auto 0;
 }
 
.upload-text{
    margin: 0 2rem 0.5rem 2rem;
}

/* ----------- Images Area ----------- */
.images-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 2px solid var(--Text-Color);
    padding: 1rem 0.5rem;
    margin: 1rem 2rem;
    height: 420px;
}

.images-container img {
    width: 170px;
    height: 140px;
    object-fit: cover;
    margin: 0 7px;
}

.image-wrap {
    position: relative;
 }

.images-container .fa-trash-can{
    position: absolute;   
    margin: 0;  
    font-weight: 400;
    bottom: 35px; 
    right: 15px; 
    color: var(--White);
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Add Photo Button */
label.upload-img {
     background-color: var(--Light-Gray);
     padding: 0.5rem 1.7rem;
     border-radius: 2rem;
     font-size: 1.2rem;
     margin: 0 195px;
     cursor: pointer;
 }

/* ----------Buttons----------- */
.btn-wrap {
    grid-area: 3 / 1 / 4 / 3;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 1rem 2rem 1.5rem 2rem;
    padding: 1rem 4rem;
    border-radius: 30px;
    cursor: pointer;
}

.btn-cancel {
    background-color: transparent;
    border: 1px solid var(--Text-Color);
}

.btn-cancel:hover {
    background-color: var(--Light-Gray);
    border: 1px solid var(--Light-Gray);
}

.btn-submit {
    background-color: var(--Text-Color);
    border: 1px solid var(--Text-Color);
    color: var(--White);
}

.btn-submit:hover {
    background-color: var(--Light-Gray);
    border: 1px solid var(--Light-Gray);
    color: var(--Text-Color);
}    


/*---------------- MOBILE  ----------------*/
@media(max-width:600px){

    /* top bar adjustments*/
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }

    .top-navlinks {
        color: var(--White);
    }

    /* un-orange logo */
    nav .logo [vector-part="buddy_bu"] path,
    nav .logo [vector-part="buddy_y"] path {
        fill:default;
    }

    /* LEFT panel */
    .left-panel {
        display:none;
    }
/*-------------------------------------------*/

    .heading {
        display: none;
    }

    .upload-text {
        display: none;
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
        background-color: var(--Primary);
    }

    /* ----------- Images Area ----------- */
    .right-container {
        margin-top: 7rem;
    }

    .images-container {
        border: 1px solid var(--White);
        border-radius: 10px;
        padding: 0.5rem 0.9rem;
        margin: 0rem 3rem;
        height: 310px;
    }

    .images-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-wrap {
        position: relative;
        width: 160px;
        height: 120px;
        margin: 0.1rem 0.8rem;
     }

    .images-container .fa-trash-can{
        bottom: 10px; 
        right: 5px; 
        font-size: 1rem;
    }

    /* Add Photo Button */
    label.upload-img {
        display: block;
        font-size: 0.7rem;
        margin: 0.5rem 7.9rem;
    }     


/* ---------------------------------------------- */
/* ------------------ Text Fields---------------- */
    .left-container {
        width: 80% ;
        margin: 0 3rem 0 3rem;
    }

    .input-fields {
        margin: 1.3rem auto;
        color: var(--White);
        display: block;
    }

    input::placeholder {
        color: var(--White);
    }

    input, select, textarea {
        color: var(--White);
        background-color: var(--Primary);
        border-bottom: 1px solid #CCCCCC;
    }

    ::-webkit-calendar-picker-indicator {
        filter: invert(100%);
    }

    .desc textarea {
        background-color: var(--White);
        color: var(--Text-Color);
    }

    /* ----------Buttons----------- */
    .btn-wrap {
        width: 100%;
        margin: 0 auto;
        position: absolute;
    }

    .btn {
        margin: 0rem 1rem 3rem 1rem;
        padding: 0.5rem 2rem;
        color: var(--White);
    }

    .btn-cancel {
        background-color: transparent;
        border: 2px solid var(--White);
    }
    
    .btn-cancel:hover {
        background-color: var(--Light-Gray);
        border: 2px solid var(--Text-Color);
        color: var(--Text-Color);
    }
    
    .btn-submit {
        background-color: var(--Light-Gray);
        border: 2px solid var(--Light-Gray);
        color: var(--Text-Color);
    }
    
    .btn-submit:hover {
        background-color: var(--Secondary-Light);
        border: 2px solid var(--Secondary-Light);
    }

}



