/*---------- TOP BAR  ----------*/
/* top bar adjustments for SEARCH PAGE */
header {
    background:transparent;
    /* position:fixed; */
    width:100%;
    z-index:3;
}

nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}

/* orange logo */
nav .logo [vector-part="buddy_bu"] path,
nav .logo [vector-part="buddy_y"] path {
    fill:var(--Primary);
}
/*------------------------------------------------*/
/*------------------------------------------------*/
/* ----------- Form Area ----------- */
.containers-wrap {
    display: flex;
    margin: 4rem 3rem 0 3rem;
}

.left-container {
    width: 50%;
    margin: 0 3rem 0 3rem;
}

.input-fields {
    border-bottom: 1px solid var(--Light-Gray);
    margin: 1.5rem;
    color: var(--Text-Color);
    display: flex;
}

input {
    flex-grow: 1;
    border: none;
    color: var(--Text-Color);
    font-family: var(--Body-Font);
    font-size: 1.1rem;
}

label {
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.flex-layout{
    display: flex;
    justify-content: space-around;
}

.desc {
    display: block;
}

.desc textarea{
    display: block;
    margin-top: 1rem;
    width: 100%;
    height: 5rem;
    border: none;
    font-size: 1.1rem;
    font-family: var(--Body-Font);
}

textarea::placeholder {
    font-family: var(--Body-Font);
}

input:focus, textarea:focus {
    outline: none;
}

/* ----------- Upload Image Area ----------- */

.right-container {
    display: block;
}

.images-container {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 2px solid var(--Text-Color);
    padding: 0.2rem 0.5rem 0;
    margin: 0 2.5rem;
}

.image-wrap {
    position: relative;
}

.images-container img {
    width: 170px;
    height: 140px;
    margin: 0.2rem 0.6rem;
    object-fit: cover;
}

.images-container .fa-trash-can{
    position: absolute;   
    margin: 0;  
    font-weight: 400;
    bottom: 50px; 
    right: 20px; 
    color: var(--White);
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.browse-btn-wrap {
    width: 550px;
    text-align: center;
}

.browse-btn{
    color: var(--Text-Color);
    font-weight: 900;
    margin: 1rem;
    padding: 0.7rem 2rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    border: 1px solid var(--Light-Gray);
}


.browse-btn:hover {
    border: 1px solid var(--Text-Color);
}

/* ----------- Svg illustration Buttons ----------- */

.illustration {
    margin: 2rem;
    text-align: center;
}

.illustration img {
    width: 25rem;
    object-fit: contain;
}

/* ----------- Cancel/Save Buttons ----------- */

.btn-wrap {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 1.5rem 2rem;
    padding: 0.5rem 2rem;
    border-radius: 30px;
    cursor: pointer;
}

.cancel-btn {
    background-color: transparent;
    border: 1px solid var(--Text-Color);
}

.cancel-btn:hover {
    background-color: var(--Light-Gray);
    border: 1px solid var(--Light-Gray);
}

.save-btn {
    background-color: var(--Text-Color);
    border: 1px solid var(--Text-Color);
    color: var(--White);
}

.save-btn:hover {
    background-color: var(--Light-Gray);
    border: 1px solid var(--Light-Gray);
    color: var(--Text-Color);
}    


/*---------- MOBILE  ----------*/
@media(max-width:600px){
    /* top bar */
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }

    .top-navlinks {
        color: var(--White);
    }

    /* un-orange logo */
    nav .logo [vector-part="buddy_bu"] path,
    nav .logo [vector-part="buddy_y"] path {
        fill:var(--White);
    }
/* --------------------------------------------- */
/* ------- illustration area ------- */
    .containers-wrap {
        display: flex;
        flex-direction:column-reverse;
        margin: 0;
    }

    .images-container {
        display: none;
    }

    .illustration img {
        display: flex;
        width: 18rem;
        margin: auto;
        padding-top: 7rem;

    }

    /* ----- Form Area ----- */

    .left-container {
        width: 100vw;
        margin: 0;
        padding: 0 1rem 0 0;
    }

    .input-fields {
        display: block;
        flex-grow: 1;
        margin: 0 2rem 1.5rem 2rem;
    }

    label {
        font-weight: 700;
    }

    input, ::placeholder {
        width: 90%;
        padding-left: 1rem;
    }

    /* ------ Buttons ------- */
    .btn-wrap {
        margin: 2rem 0;
        flex-direction: column-reverse;
    }

    .btn {
        display: block;
        padding: 1rem 3rem;
        margin: 0.5rem auto; 
    }
    

}