/* top bar adjustments for Give Review PAGE */
header {
    background:transparent;
    position:fixed;
    width:100%;
    z-index:3;
}

nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}


/*------------------------------------------------*/
/* ------------ Mobile Top ------------------- */
.mobile-top {
    display: none;
}

/*------------------------------------------------*/
/* ------------ LEFT Container ------------------- */
/* ------- Review Section-------- */
.left-container{
    position: fixed;
    display: flex;
    width: 35%;
    height: 100vh;
    background-color: var(--Primary);
    border-radius: 0 15% 15% 0;
    color: white;
}

.left-content {
    justify-items: center;
    margin: 12rem auto 0;
}

textarea {
    width: 350px;
    height: 200px;
    font-family: var(--Body-Font);
    font-size: 1rem;
    padding: 0.5rem;
}

textarea:focus {
    outline: none;
}

::placeholder {
    font-family: var(--Body-Font);
}

hr {
    width: 100%;
    margin: 0.5rem auto;
}

/* ------- Stars Section-------- */
.rating{
    margin: 1rem 0 2rem 0;
}

.star-rating i.fill {
    color:var(--White);
}

.star-rating i.empty {
    color:var(--Secondary-Light);
}


/* ------- Buttons Section-------- */
.btn {
    width: 8rem;
    display: block;
    font-size: 1rem;
    padding: 2%;
    margin: 1rem 0;
    border-radius: 2rem;
    cursor: pointer;
    font-family: var(--Body-Font-Size);
    font-weight: 900;
}

.btn-update {
    background-color: #F9F9F9;
    color: var(--Text-Color);
    border: 2px solid #F9F9F9;
}

.btn-update:hover{
    color: var(--Text-Color);
    background-color: var(--Secondary-Light);
    border: 2px solid var(--Secondary-Light);
}

.btn-delete {
    background-color: var(--Primary);
    color: var(--White);
    border: 2px solid var(--White);
}

.btn-delete:hover{
    color: var(--Text-Color);
    background-color: var( --Light-Gray);
    border: 2px solid var(--Text-Color);
}

/* ------------ RIGHT Container ------------------- */

.right-container{
    width: 60%;
    margin: 0 0 0 40%;
}

.event-name {
    padding: 5rem 1rem 1rem 0;
}

.event-content {
    display: flex;
}

.content-detail {
    margin: 0.5rem auto;
}

.link {
    color: #0A7AFF;
    border-bottom: 1px solid #0A7AFF;
}

.event-image {
    margin: 0 auto;
}

.event-image img {
    width: 300px;
    border-radius: 2rem;
    object-fit:cover;
}

.descriptions-wrap {
    margin: 1rem 5rem 0 0;
}

/* ----------- Svg illustration Buttons ----------- */
.illustration {
    margin: 5% 15% 0%;
}

.illustration img {
    width: 25rem;
}


/* *********** MOBILE SIZE ************ */
@media (max-width: 600px) {

    /* top bar adjustments */
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }
    
    .right-container {
        display: none;
    }


/* -------- Top illustration -------- */
    .mobile-top {
        display: block;
    }

    .top-illustration img {
        margin: 7rem 0 0 0;
        padding: 0% 15%;
        width: 100vw;
    }

/* -------- Event Card - Mobile --------- */
    .event-wraper {
        display: block;
        width: 90%; 
        margin: 5%;
    }

    .event-container {
        width: 100%;
        margin: 9% 0 0 0;
    }

    .card-container {
        width: 90%;
        display: grid;
        grid-template-columns: 45% 55%;
        border-radius: 0 20px 20px 0;
        background-color: #f0f0f0;
        margin: auto;
    }

    .card-content.image {
        width: 12rem;
        height: 9rem;
        border-radius: 0 20px 20px 0;
        object-fit:cover;
    }

    .card-description {
        padding: 1.6rem 0 0 1.4rem;
        line-height: 0.8rem;
    }

    h3.card-content{
        padding-bottom: 0.8rem;
        font-size: var(--Mobile-H3-Size);
    }

    /* ------- Review Section-------- */
    .left-container{
        display: block;
        position: relative;
        width: 100vw;
        height: 100%;
        color: #090909;
        background-color: transparent;
        margin: 0 0 0 0;
    }

    .left-content {
        width: 90%;
        margin: 2rem auto;
    }

    .review {
        margin: 0 auto;
    }

    textarea {
        width: 100%;
        height: 200px;
    }

    /* ------- Stars Section-------- */
    .rating{
        margin: 1rem 0 2rem 0;
    }
    
    .star-rating i.fill {
        color:var(--Primary);
    }
    
    .star-rating i.empty {
        color:var(--Secondary-Light);
    }

    /* ------- Buttons Section-------- */

    .btn {
        margin: 1rem auto;
    }

    .btn-update {
        background-color: var(--Text-Color);
        color: var(--White);
        border: 2px solid var(--Text-Color);
    }
    
    .btn-update:hover{
        color: var(--Text-Color);
        background-color: var(--Light-Gray);
        border: 2px solid var(--Light-Gray);
    }
    
    .btn-delete {
        background-color: var(--White);
        color: var(--Text-Color);
        border: 2px solid var(--Text-Color);
    }
    
    .btn-delete:hover{
        color: var(--Text-Color);
        background-color: var( --Light-Gray);
        border: 2px solid var(--Light-Gray);
    }
}