/* ------------- Footer Section ------------ */
.home-footer{
    background-color: var(--BG);
    color:var(--Main-Title);
}

/* left column */
.home-footer-content{
    padding: 3.5vw 5vw;
    display: grid;
    grid-template-columns: 1fr 1.25fr 1fr;
    grid-gap:4vw;
    place-items:center;
}

.home-footer-logo .logo{
    font-family:var(--Heading-Font);
    font-size: 2rem;
    color:var(--Main-Title);
}

.home-footer-logo h2, h2.slogan {
    margin: 2% 0 9% 0;
    font-size: 1.1rem;
    font-family:var(--Body-Font);
    font-weight: 900;
    text-transform:uppercase;
}

.home-footer-logo p{
    font-size: 1.2rem;
}

.social-icon {
    margin-right:0.4rem;
    font-size:1rem;
    color:var(--Main-Title);
}

/* middle column */
.home-footer-about h2{
    font-family:var(--Body-Font);
    font-size: 1.5rem;
}

.home-footer-about h2,
.home-footer-about h2 a {
    color:var(--Main-Title);
}

.home-footer-about p{
    margin-top: 4%;
    font-size: 1rem;
}

/* right colunm */
.home-footer-contact h2{
    font-family:var(--Body-Font);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5%;
}

.home-footer-contact h2,
.home-footer-contact h2 a {
    color:var(--Main-Title);
}

.footer-about-us {
    display:none;
}

.home-footer-contact h2:last-child {
    margin-bottom:0;
}

/* copy right */
.home-footer hr{
    width: 90%;
    margin: auto;
    border:0px solid transparent;
    border-top:1px solid var(--Main-Title);
}

.copy-right{
    margin: auto;
    padding: 2%;
    text-align: center;
}

@media (max-width: 600px) {
    .home-footer-content {
        grid-template-columns:1fr 1.1fr;
        grid-gap:10vw;
    }

    /* "Buddy */
    .home-footer-logo h2{
        font-size: 0.9rem;
    }

    /* "follow us */
    .home-footer-logo p{
        font-size: 1.1rem;
    }

    /* social media icons */
    .home-footer-logo .social-icon {
        font-size:0.7rem;
        margin-right:4px;
    }

    /* "About Us" */
    .home-footer-about {
        display:none;
    }

    .footer-about-us {
        display:block;
    }

    .home-footer-about h2{
        font-size: 1.4rem;
    }
    
    /* "About Us", paragraph */
    .home-footer-about p{
        font-size: 0.9rem;
    }

    /* "Contact Us", "Help" */
    .home-footer-contact h2 {
        font-size:1.3rem;
        margin-bottom:0.5rem;
    }

    .home-footer-contact p{
        font-size: 1rem;
        font-weight: 900;
    }
}