/* ------------- Footer Section ------------ */
.home-footer{
    background-color: var(--BG);
    color:var(--Main-Title);
}

/* left column */
.home-footer-content{
    padding: 4% 3% 3% 10%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.home-footer-logo .logo{
    font-family:var(--Heading-Font);
    font-size: 2rem;
    color:var(--Main-Title);
}

.home-footer-logo h2, h2.slogan {
    margin: 2% 0 9% 0;
    font-size: 1.1rem;
    font-family:var(--Body-Font);
    font-weight: 900;
    text-transform:uppercase;
}

.home-footer-logo p{
    font-size: 1.2rem;
}

.social-icon i{
    margin:2% 2% 0 0;
    color:var(--Main-Title);
}

/* middle column */
.home-footer-about{
    margin: 10% 0 0 15%;
}

.home-footer-about h2{
    font-family:var(--Body-Font);
    font-size: 1.5rem;
}

.home-footer-about h2,
.home-footer-about h2 a {
    color:var(--Main-Title);
}

.home-footer-about p{
    margin-top: 4%;
    font-size: 1rem;
}

/* right colunm */
.home-footer-contact{
    margin: 10% 0 0 37%
}

.home-footer-contact h2{
    font-family:var(--Body-Font);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5%;
}

.home-footer-contact h2,
.home-footer-contact h2 a {
    color:var(--Main-Title);
}

/* copy right */
.home-footer hr{
    width: 90%;
    margin: auto;
    border:0px solid transparent;
    border-top:1px solid var(--Main-Title);
}

.copy-right{
    margin: auto;
    padding: 2%;
    text-align: center;
}

@media (max-width: 600px) {
    .home-footer-logo p{
        font-size: 1rem;
    }

    .home-footer-logo h2{
        font-size: 0.7rem;
    }

    .home-footer-about p{
        margin-top: 5%;
        font-size: 0.2rem;
    }

    .home-footer-about p{
        margin-top: 4%;
        font-size: 1rem;
    }

    .home-footer-about h2{
        font-size: 1rem;
    }
    
    .home-footer-about p{
        font-size: 0.7rem;
    }

    .home-footer-contact{
        margin: 10% 0 0 10%
    }

    .home-footer-contact p{
        font-size: 1rem;
        font-weight: 900;
    }
}