
/*----- shared styling-----*/
:root {
    --Submit-Button-Fade-Speed:0.25s;
}

body {
    color:var(--White);
}

.img-wrap {
    background-image:url("../images/unsplash_phone_dan-nelson-ah-HeguOe9k.jpg");
    background-position:center;
    background-size:cover;
}

input, button {
    outline:none;
    border:none;
    font-family:var(--Body-Font);
}

input#email {
    display:block;
    width:100%;
    background:transparent;
    padding-bottom:0.3rem;
    border-bottom:1px solid rgba(var(--White-RGB),0.4);
    color:var(--White);
}

input#email::placeholder, input#email::-webkit-input-placeholder {
    color:var(--White)
}

.btn-wrap {
    display:flex;
    align-items:center;
}

button.ctn {
    display:block;
    background:var(--White);
    border:1px solid transparent;
    font-weight:500;
    color:var(--Text-Color);
    transition:all var(--Submit-Button-Fade-Speed) ease-in-out;
    cursor:pointer;
}

button.ctn:hover, .push-hovered {
    background:var(--Secondary-Light)!important;
    border-color:var(--Secondary)!important;
}

.popup-msg h3 {
    color:var(--Text-Color)
}

/*----- desktop -----*/
:root {
    --Left-Content-Top-Nudge:calc((var(--TopBar-Height) - var(--Logo-Height)) / 2);
    --Left-Content-Width:69%;
    --Forgot-Password-H1-Size:var(--H1-Size);

    --Paragraph-Text-Size:var(--Body-Font-Size);
    --Paragraph-Spacing:1.8rem;

    --Email-Font-Size:calc(var(--H3-Size) * 0.8);
    --Email-Field-Width:95%;

    --Submit-Button-Top-Gap:2.4rem;
    --Submit-Button-Roundness:30px;
    --Submit-Button-Padding:0.6rem 1.3rem;
    --Submit-Button-Width:40%;
    --Submit-Button-Font-Size:calc(var(--Body-Font-Size) * 1.1);

    --Image-Roundness:120px;
}

@media(min-width:600px){
    header {
        position:fixed;
        top:0;left:0;
        width:100%;
        background:transparent;
        z-index:3;
    }

    .searchbar, .top-nav-container {
        display:none!important;
    }

    .container {
        position:fixed;
        top:0;left:0;
        width:100%;
        height:100%;
        background:var(--Primary);
    }

    .img-wrap {
        position:absolute;
        top:0;right:0;
        width:50%;
        height:100%;
        border-radius:var(--Image-Roundness) 0 0 var(--Image-Roundness);
    }

    .left-container {
        position:absolute;
        top:0;left:0;
        width:50%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .content {
        margin:0 auto;
        margin-top:var(--Left-Content-Top-Nudge);
        width:var(--Left-Content-Width);
    }

    h1.forgot {
        font-size:var(--Forgot-Password-H1-Size);
    }

    p.forgot-msg {
        margin:var(--Paragraph-Spacing) 0;
        font-size:var(--Paragraph-Text-Size);
    }

    input#email {
        width:var(--Email-Field-Width);
        font-size:var(--Email-Font-Size);
    }

    .btn-wrap {
        margin-top:var(--Submit-Button-Top-Gap);
    }

    button.ctn {
        width:var(--Submit-Button-Width);
        padding:var(--Submit-Button-Padding);
        border-radius:var(--Submit-Button-Roundness);
        font-size:var(--Submit-Button-Font-Size);
    }
}

/*----------------------------------------------*/

/*----- mobile -----*/
:root {
    --Mobile-Image-Height:40vh;
    --Mobile-Image-Roundness:35px;
    --Mobile-Image-Gradient-Size:40%;

    --Mobile-Content-Top-Gap:10vh;
    --Mobile-Content-Width:80%;
    --Mobile-Forgot-Password-H1-Size:var(--Mobile-H1-Size);
    --Mobile-Forgot-Password-H1-LineHeight:1.6; /* number only */
    --Mobile-Forgot-Password-H1-Bottom-Gap:1.5rem;

    --Mobile-Paragraph-Text-Size:var(--Mobile-Body-Font-Size);
    --Mobile-Paragraph-Spacing:1.65rem;

    --Mobile-Submit-Button-Top-Gap:2.8rem;
    --Mobile-Submit-Button-Roundness:30px;
    --Mobile-Submit-Button-Padding:0.6rem 1.3rem;
    --Mobile-Submit-Button-Width:35%;
    --Mobile-Submit-Button-Font-Size:var(--Mobile-Body-Font-Size);
}

@media(max-width:600px){
    body {
        background:var(--Primary);
    }

    header {
        position:fixed;
        top:0;left:0;
        width:100%;
        z-index:2;
    }

    .container {
        margin-top:var(--TopBar-Height);
    }

    .img-wrap {
        position:relative;
        width:100%;
        height:var(--Mobile-Image-Height);
        border-radius:0 0 var(--Mobile-Image-Roundness) var(--Mobile-Image-Roundness);
        overflow:hidden;
        z-index:0;
    }

    .img-wrap:after {
        content:"";
        position:absolute;
        bottom:0;left:0;
        width:100%;
        height:var(--Mobile-Image-Gradient-Size);
        background-image:linear-gradient(to top, rgba(0,0,0,0.25), transparent)
    }

    .left-container {
        margin-bottom:calc(var(--Mobile-Content-Top-Gap) * 1.2)
    }

    .content {
        margin:0 auto;
        width:var(--Mobile-Content-Width);
    }

    h1.forgot {
        position:relative;
        margin-top:calc(0px - (var(--Mobile-Forgot-Password-H1-Size) * var(--Mobile-Forgot-Password-H1-LineHeight)) - var(--Mobile-Forgot-Password-H1-Bottom-Gap));
        font-size:var(--Mobile-Forgot-Password-H1-Size);
        word-spacing:.5px;
        line-height:var(--Mobile-Forgot-Password-H1-LineHeight);
        text-shadow:2px 2px 10px rgba(0,0,0,0.420)
    }

    p.forgot-msg {
        margin-top:var(--Mobile-Content-Top-Gap);
        margin-bottom:var(--Mobile-Paragraph-Spacing);
        font-size:var(--Mobile-Paragraph-Text-Size);
    }

    input#email {
        width:100%;
        font-size:var(--Mobile-Email-Font-Size);
    }

    .btn-wrap {
        margin-top:var(--Mobile-Submit-Button-Top-Gap);
        justify-content:center;
    }

    button.ctn {
        width:var(--Mobile-Submit-Button-Width);
        padding:var(--Mobile-Submit-Button-Padding);
        border-radius:var(--Mobile-Submit-Button-Roundness);
        font-size:var(--Mobile-Submit-Button-Font-Size);
    }
}