/*------ VARIABLES FOR Give Review PAGE ------*/
:root {
    --container-grid-template-full: 45% 55%;
    --container-width-full: 100%;
    --container-height-full: 100%;
    --container-padding-top-full: 6rem;
    --left-container-margin-full: 7rem 0 0 10rem;

    --text-field-margin-full: 0 0 5% 0;
    --text-field-width-full: 350px;

    /* ---- Category ---- */
    --category-label-margin-full: 0 0 0.9rem 0;
    --category-options-margin-full: 0 0 5% 0;
    --category-options-width-full: 350px;

    --checkbox-option-margin-full: 0 2rem 0 0;
    --checkbox-option-input-margin-full: 0;
    --checkbox-option-input-width-full: 20px;

    /* ---- Event Card ---- */
    --event-container-width-full: 90%;
    --event-container-margin-full: 1% auto 3% 0;
    --event-border-radius-full: 0 30px 30px 0;

    --card-container-grid-template-full: 40% 60%;
    --card-content-image-width-full: 17rem;
    --card-content-image-height-full: 11rem;

    --card-description-padding-full: 0.9rem 0.5rem 0 1rem;
    --card-description-line-height-full: 1rem;
    --card-content-eventname-padding-full: 0.2rem 0 0.5rem;

    --card-hr-width-full: 90%;
    --card-hr-margin-full: 0;

    /* --- Leave Review / Coming Label--- */
    --leave-review-label-margin-full: 0;

    /* ---- Buttons ---- */
    --buttons-width-full: 7rem;
    --buttons-padding-full:0.5rem 0;
    --buttons-margin-full: 2rem 1rem;

    /*  ---- POP UP ----  */
    --popup-background-color-full: #ABABAB;
    --popup-content-margin-full: 0 0 2rem 0;

    --star-rating-margin-full: 0.2rem 0;
    --star-rating-font-size-full: 1.5rem;
    --rating-title-margin-full: 2rem 0 0 0;
    --rating-title-font-size-full: 1.1rem;

    --desc-title-margin-full: 2rem 0 0.9rem 0;
    --desc-title-font-size-full: 1.1rem;
    --desc-box-width-full: 100%;
    --desc-box-height-full: 200px;
    --desc-box-padding-full: 10px;


    /*  ---- MOBILE ----  */
    
    --illustration-padding-mobile: 8rem 7rem 2rem;
    /* ---- Event Card ---- */
    --card-container-grid-template-mobile: 45% 55%;
    --event-container-width-mobile: 90vw; 
    --event-container-margin-mobile: 1rem auto 1rem; 
    
    --card-content-image-width-mobile: 12.7rem;
    --card-content-image-height-mobile: 9rem;

    --card-description-padding-mobile: 0.7rem 0.5rem 0.2rem 1rem;
    --card-description-font-size-mobile: 0.9rem;
    
    --card-event-name-padding-mobile: 0 0 0.4rem 0;
    --card-event-name-font-size-mobile: 1.1rem;
    --card-description-content-margin-mobile: 0.2rem 0;

    /* ---------- Review Area ---------- */
    --review-wrap-width-mobile: 90vw;
    --review-wrap-margin-mobile: 3rem auto 0;

    --review-box-width-mobile: 100%;
    --review-box-height-mobile: 150px;
    --review-box-padding-mobile: 10px;

    --review-hr-margin-mobile: 0.5rem 0 0.5rem;
    --start-rating-font-size-mobile: 1.2rem;

    /* ---- Button ----- */
    --button-width-mobile: 7rem;
    --button-padding-mobile: 0.5rem 0;
    --button-margin-mobile: 2rem;

}
/*----------------------------------------------*/

/*---- Top Bar ----*/
nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}

/* ----------------------------------------- */

/* Hide mobile components */
.mobile {
    display: none;
}
/* ------------ LEFT Column ---------------- */
.container {
    display: grid;
    grid-template-columns: var(--container-grid-template-full);
    width:var(--container-width-full);
    height:var(--container-height-full);
    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-top: var(--container-padding-top-full);
}

.left-container{
    margin: var(--left-container-margin-full);
}

/* --------- Text fields ---------- */

.form-wrap {
    position: fixed;
}

.text-field input {
    margin: var(--text-field-margin-full);
    width: var(--text-field-width-full);
    border:none;
    outline:none;
    background: none;
    border-bottom: 1px solid var(--Text-Color);
    font-size: var(--Body-Font-Size);
    font-family: var(--Heading-Font);
    color: var(--Text-Color);
}

::placeholder{
    color: var(--Text-Color);
}


/* ----------- Category ----------- */
.category {
    display: inline;
}

.category-label {
    display: block;
    border-bottom: 1px solid var(--Text-Color);
    margin: var(--category-label-margin-full);
}

.options {
    margin: var(--category-options-margin-full);
    width: var(--category-options-width-full);
}

.checkbox-option {
    margin: var(--checkbox-option-margin-full);
}

.checkbox-option > input {
    width: var(--checkbox-option-input-width-full);
    margin: var(--checkbox-option-input-margin-full);
}

.arrow {
    color: var(--Text-color);
    cursor: pointer;
}

.category-list {
    display: none;
}

.show {
    display: block;
}

/* ----------------------------------------- */
/* ------------ RIGHT Column ---------------- */

/* --------Event Card---------- */

.event-wrap {
    display: block;
    width: 100%;
    padding-bottom: 1rem;
}

.event-container {
    width: var(--event-container-width-full);
    margin: var(--event-container-margin-full);
}

.card-container {
    display: grid;
    grid-template-columns: var(--card-container-grid-template-full);
    border-radius: var(--event-border-radius-full);
    background-color: #F0F0F0;
    margin: auto;
}

.card-content.image {
    width: var(--card-content-image-width-full);
    height: var(--card-content-image-height-full);
    border-radius: var(--event-border-radius-full);
    object-fit:cover;
}

.card-description {
    padding: var(--card-description-padding-full);
    line-height: var(--card-description-line-height-full);
}

h3.card-content{
    padding:var(--card-content-eventname-padding-full);
    font-size: var(--H3-Size);
}

.card-description hr {
    width: var(--card-hr-width-full);
    margin: var(--card-hr-margin-full);
}

/* ----- Leave Review / Coming Event ----- */

.action {
    border: none;
    font-weight: 900;
    margin: var(--leave-review-label-margin-full);
    font-family: var(--Body-Font);
    font-size: var(--Body-Font-Size);
    cursor: pointer;
}

.leave-review {
    color: var(--Primary);
}

.coming {
    color: var(--Accent);
}


/* --------- Reset / Search Buttons --------- */
.btn-wrap {
    text-align: center;
}

.btn {
    width: var(--buttons-width-full);
    padding: var(--buttons-padding-full);
    margin: var(--buttons-margin-full);
    border-radius: 25px;
    border: 1px solid var(--Text-Color);
    font-family: var(--Body-Font);
    font-size: var(--Body-Font-Size);
    cursor: pointer;
}

.reset-btn {
    background-color: var(--White);
    color: var(--Text-Color);
}

.search-btn {
    background-color: var(--Text-Color);
    color: var(--White);
}

.reset-btn:hover {
    background-color: var(--Light-Gray);
    border: 1px solid var(--Light-Gray);
}

.search-btn:hover {
    background-color: var(--Light-Gray);
    border: 1px solid var(--Light-Gray);
    color: var(--Text-Color);
}

/* ---- Footer ----- */
.home-footer {
    display: none;
}


/*  --------------- POP UP ----------------  */
.popup-msg {
    background-color: var(--popup-background-color-full);
}

.popup-title {
    text-align: left;
}

.popup-content{
    text-align: left;
    margin: var(--popup-content-margin-full);
}

.star-rating {
    margin: var(--star-rating-margin-full);
    font-size: var(--star-rating-font-size-full);
}

.rate-title {
    margin: var(--rating-title-margin-full);
    font-size: var(--rating-title-font-size-full);
}

.fa-star.fill {
    color: var(--Primary);
}

.fa-star.empty {
    color: var(--White);
}

.desc-title {
    margin: var(--desc-title-margin-full);
    font-size: var(--desc-title-font-size-full);
}

.desc-box {
    border: 1px solid var(--Text-Color);
    border-radius: 20px;
    font-family: var(--Body-Font);
    width: var(--desc-box-width-full);
    height: var(--desc-box-height-full);
    padding: var(--desc-box-padding-full);
}

::placeholder {
    font-family: var(--Body-Font);
}

/*---------------- MOBILE  ----------------*/
@media(max-width:600px){
    /* top bar */
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }

    .top-navlinks {
        color: var(--White);
    }

    /* un-orange logo */
    nav .logo [vector-part="buddy_bu"] path,
    nav .logo [vector-part="buddy_y"] path {
        fill:var(--White);
    }

    /* LEFT panel */
    .left-panel {
        display:none;
    }
    
    /* ------------------------------------ */
    /* Hide full size components */
    .forWeb{
        display: none;
    }
    /* Show mobile size components */
    .mobile {
        display: block;
    }
    /* ------------------------------------ */

    .illustration {
        padding: var(--illustration-padding-mobile);
    }

    /* --------- Event Card ---------- */
    .event-container {
        width: var(--event-container-width-mobile);
        margin: var(--event-container-margin-mobile);
    }

    .card-container {
        grid-template-columns: var(--card-container-grid-template-mobile);
    }

    .card-content.image {
        width: var(--card-content-image-width-mobile);
        height: var(--card-content-image-height-mobile);
    }

    .card-description > p {
        margin: var(--card-description-content-margin-mobile);
    }

    .card-description {
        padding: var(--card-description-padding-mobile);
        font-size: var(--card-description-font-size-mobile);
    }
    
    h3.card-content{
        padding: var(--card-event-name-padding-mobile);
        font-size: var(--card-event-name-font-size-mobile);
    }

    /* ---------- Review Area ---------- */
    .review-wrap {
        width: var(--review-wrap-width-mobile);
        margin: var(--review-wrap-margin-mobile);
    }

    .review-box {
        width: var(--review-box-width-mobile);
        height: var(--review-box-height-mobile);
        padding: var(--review-box-padding-mobile);
    }

    hr {
        margin: var(--review-hr-margin-mobile);
    }

    .fa-star {
        font-size: var(--start-rating-font-size-mobile);
    }

    .fa-star.empty {
        color: var(--Secondary-Light);
    }

     /* ---- Button ----- */
    .mobile-btn {
        width: var(--button-width-mobile);
        padding: var(--button-padding-mobile);
        margin: var(--button-margin-mobile);
        border-radius: 25px;
        border: 1px solid var(--Text-Color);
        background-color: var(--Text-Color);
        color: var(--White);
        font-family: var(--Body-Font);
        font-size: var(--Body-Font-Size);
        cursor: pointer;
    }

    .mobile-btn:hover {
        border: 1px solid var(--Text-Color);
        background-color: var(--Light-Gray);
        color: var(--Text-Color);
    }

    /* ---- Footer ----- */
    .home-footer {
        display: block;
        position: relative;
    }
}