/*------ VARIABLES FOR HELP PAGE ------*/
:root {

    --left-content-margin-full: 11rem 6rem 1rem;
    --faq-margin-full: 1.5rem 0 0 0;
    --question-font-size-full: 1.2rem;
    --more-button-margin-full: 1.5rem 0 2.5rem 18rem;
    
    /* ---- Contact Form Full---- */
    --right-container-width-full: 100%;
    --right-container-margin-full: 10% 13% 1% 53%;
    --right-content-margin-full: 0 65% 0 0;

    --form-width-full: 500px;
    --form-margin-full:  1rem 0 0 0;
    --form-padding-full: 1rem;
    --form-font-size-full:  1rem;
    --form-textarea-height-full: 200px;

    --send-button-padding-full: 1rem 3rem;
    --send-button-margin-full: 2rem auto 0 12rem;
    --send-button-border-radius-full: 30px;

    /*  ---- MOBILE ----  */

    --left-content-margin-mobile: 5rem 5rem 0 5rem;
    --left-content-font-size-mobile: 0.9rem;
    --question-font-size-mobile: 1.1rem;

    --more-button-margin-mobile: 2rem 6.5rem;
    --more-button-padding-mobile: 1rem 3rem;
    --more-button-font-wight-mobile: 900;

    /* -- Contact Form Mobile -- */
    --right-container-width-mobile: 100vw;
    --right-container-margin-mobile: 3rem 3rem 1.5rem;

    --form-inputs-width-mobile: 400px;
    --form-inputs-padding-mobile: 0.7rem;
    --send-button-margin-mobile: 3rem auto 1rem 8.5rem;

}
/*----------------------------------------------*/

/* top bar adjustments*/
header {
    background:transparent;
    position:fixed;
    width:100%;
    z-index:3;
}

nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}
/*------------------------------------------------*/

.container {
    display: flex;
    width:100%;
    height:100%;
    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
}

/* ------------ LEFT Column ---------- */
.left-container{
    width: 38vw;
    height: 100%;
    background-color: var(--Primary);
    border-radius: 0 120px 120px 0;
    color: var(--White);
}

.left-content {
    /* position: relative; */
    margin: var(--left-content-margin-full);
}

.faq-wrap > hr {
    border: 1px solid var(--White);
}

.faq {
    margin:var(--faq-margin-full);
}

.question {
    font-weight: 900;
    font-size: var(--question-font-size-full);
}

button.more {
    color: #0A7AFF;
    border: none;
    background-color: var(--Primary);
    margin: var(--more-button-margin-full);
    cursor: pointer;
}


/* ------------ Rifht Column ------------------- */

::placeholder {
    font-family: var(--Body-Font);
}

.right-container {
    position: fixed;
    width: var(--right-container-width-full);
    margin: var(--right-container-margin-full);
}

.right-content {
    margin: var(--right-content-margin-full);
}

.form input, .form textarea{
    display: block;
    width: var(--form-width-full);
    padding: var(--form-padding-full);
    border: 2px solid var(--Text-Color);
    border-radius: 15px;
    margin: var(--form-margin-full);
    font-size: var(--form-font-size-full);
    font-family: var(--Body-Font);
}

.form textarea {
    height: var(--form-textarea-height-full);
}

.form button {
    padding: var(--send-button-padding-full);
    margin: var(--send-button-margin-full);
    border-radius: var(--send-button-border-radius-full);
    background-color: var(--Text-Color);
    border: 2px solid var(--Text-Color);
    color: var(--White);
    font-weight: 900;
    cursor: pointer;
}

.form button:hover {
    background-color: var(--White);
    color: var(--Text-Color);
    border: 2px solid var(--White);
}

input:focus, textarea:focus {
    outline: none;
}

/* ------------ Footer ------------ */
.home-footer {
    display: none;
}

/*---------- MOBILE  ----------*/
@media (max-width: 600px) {
    /* top bar adjustments for SEARCH PAGE */
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }

    .top-navlinks {
        color: var(--White);
    }

    /* --------------------------------- */

    .container {
        display: block;
    }

    .left-container{
        width: 100%;
        height: 100%;
        background-color: var(--Primary);
        border-radius: 0;
        color: var(--White);
    }
    
    .left-content {
        margin: var(--left-content-margin-mobile);
        font-size: var(--left-content-font-size-mobile);
    }

    .question {
        font-size: var(--question-font-size-mobile);
    }

    /* Button */
    button.more {
        color: var(--Text-Color);
        border: 1px solid var(--White);
        background-color: var(--White);
        border-radius: 30px;
        padding: var(--more-button-padding-mobile);
        margin: var(--more-button-margin-mobile);
        font-weight: var(--more-button-font-wight-mobile);
    }

    button.more:hover {
        border: 1px solid var(--Text-Color);
        background-color: var(--Light-Gray);
    }

  /* ---------- Contact Form ---------- */

    .right-container {
        width: var(--right-container-width-mobile);
        margin: var(--right-container-margin-mobile);
        position: relative;
    }

    .right-content {
        width: 100%;
    }

    .span-msg{
        display: block;
    }

    .form input, .form textarea{
        width: var(--form-inputs-width-mobile);
        padding: var(--form-inputs-padding-mobile);
    }

    .form button {
        margin: var(--send-button-margin-mobile);
    }

    /* ---- Footer ----- */
    .home-footer {
        display: block;
    }

}
