/* top bar adjustments*/
header {
    background:transparent;
    position:fixed;
    width:100%;
    z-index:3;
}

nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}
/*------------------------------------------------*/

/* ------------ LEFT Column ------------------- */
.container {
    display: flex;
    width:100%;
    height:100%;
    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
}

.left-container{
    width: 38vw;
    height: 100%;
    background-color: var(--Primary);
    border-radius: 0 120px 120px 0;
    color: var(--White);
}

.left-content {
    position: relative;
    margin: 11rem 6rem 1rem;
}

.faq {
    margin: 1.5rem 0 0 0;
}

.question {
    font-weight: 900;
    font-size: 1.2rem;
}

button.more {
    color: #0A7AFF;
    border: none;
    background-color: var(--Primary);
    margin: 1.5rem 0 2.5rem 18rem;
    cursor: pointer;
}


/* ------------ Rifht Column ------------------- */

::placeholder {
    font-family: var(--Body-Font);
}

.right-container {
    position: fixed;
    width: 100%;
    margin: 10% 13% 1% 53%;
}

.right-content {
    margin: 0 65% 0 0;
}

.form input, .form textarea{
    display: block;
    width: 500px;
    padding: 1rem;
    border: 2px solid #545454;
    border-radius: 15px;
    margin: 1rem 0 0 0;
    font-size: 1rem;
    font-family: var(--Body-Font);
}

.form textarea {
    height: 200px;
}

.form button {
    padding: 1rem 3rem;
    border-radius: 25px;
    margin: 2rem auto 0 12rem;
    background-color: #545454;
    border: 2px solid #545454;
    color: #F9F9F9;
    font-weight: 900;
    cursor: pointer;
}

.form button:hover {
    background-color: #F0F0F0;
    color: #545454;
    border: 2px solid #F0F0F0;
}

input:focus, textarea:focus {
    outline: none;
}


@media (max-width: 600px) {
    /* top bar adjustments for SEARCH PAGE */
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }

    .top-navlinks {
        color: var(--White);
    }

    /* --------------------------------- */

    .container {
        display: block;
    }

    .left-container{
        width: 100%;
        height: 100%;
        background-color: var(--Primary);
        border-radius: 0;
        color: var(--White);
        /* padding-bottom: 1rem; */
    }
    
    .left-content {
        margin: 5rem 5rem 1rem 5rem;
        font-size: 0.9rem;
    }

    .question {
        font-size: 1.1rem;
    }

    /* Button */
    button.more {
        color: var(--Text-Color);
        border: 1px solid var(--White);
        background-color: var(--White);
        border-radius: 30px;
        padding: 1rem 3rem;
        margin: 2rem 6.5rem 2rem 6.5rem;
        font-weight: 900;
    }

    button.more:hover {
        border: 1px solid var(--Text-Color);
        background-color: var(--Light-Gray);
    }

  /* ---------- Contact Form ---------- */

    .right-container {
        width: 100%;
        margin: 0;
        position: relative;
    }

    .right-content {
        width: 100%;
        margin: 2rem 0 1.5rem 2.6rem;
    }

    .span-msg{
        display: block;
    }

    .form input, .form textarea{
        width: 400px;
        padding: 0.7rem;
    }

    .form button {
        justify-content: center;
        margin: 3rem auto 2rem 8.5rem;
    }

}




