*{
    padding: 0;
    margin: 0;
}

.home-carousel{
    width:70%;
    margin:0px auto;
}

.slick-slide{
    margin:10px;
}

.slick-slide img{
    height: 400px;
    width:100%;
}

.slick-prev:before {
    color: gray !important;
}

.slick-next:before {
    color: grey !important;
}