
.home-bottom-section > h1{
    margin: 50px;
    text-align: center;
    font-size: 3rem;
}

.home-carousel{
    width:60%;
    margin:0px auto;
}

.slick-slide img{
    height: 400px;
    width:100%;
}

.slick-prev:before {
    color: gray !important;
}

.slick-next:before {
    color: grey !important;
}

@media (max-width: 600px) {
    .slick-slide img{
        height: 200px;
        width:100%;
    }
    .home-bottom-section > h1{
        font-size: 1.5rem;
    }
}