/*---------- VARIABLES FOR LOGIN PAGE  ----------*/

:root {
    --top-logo-size: 4rem;
    --top-logo-color: #999;
    --welcome-font: "impact";
    --span-font: "arial";
    --form-width-full: 60%;
    --form-width-mobile: 90%
}   
/*----------------------------------------------*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container {
    display: flex;
    flex-direction: row-reverse;
}

.left-container{
    width: 50%;
}

/*---------- Right Image / LOGO --------*/
img {
    width: 100%;
    height: 716px;
    border-radius: 20% 0 0 20%;
} 

.buddy-logo {
    position: absolute;
    top:5%;
    left:5%;
    font-size: var(--top-logo-size);
    text-decoration: none;
    color: var(--top-logo-color);
}
/*---------- Welcome Title --------*/
.welcome{
    margin: 40% 10% 5% 15% ;
    font-family: var(--welcome-font);
}

.buddy{
    font-family: var(--span-font);
}

/*---------- Form Section --------*/
.text_field input {
    margin: 0 auto 3% 15%;
    width: var(--form-width-full);
    border:none;
    outline:none;
    background: none;
    border-bottom: 1px solid #999;
    font-size: 1rem;

}

.checkbox-wrap{
    width: var(--form-width-full);
    display: flex;
    justify-content: space-between;
    margin: 0 auto 5% 15%;
    font-size: 0.8rem;
    font-family: helvetica;
}

.forget-password{
    text-decoration: none;
    color: #000;
}

/*---------- Button Section --------*/
.btn-wrap{
    text-align: center;
    width: var(--form-width-mobile);
    margin-bottom: 10%;
}

.ctn{
    width: 20rem;
    font-size: 1rem;
    padding: 3%;
    margin: 1.5%;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        display: block;
    }

    .left-container{
        width: 100%;
    }

    /*---------- Head Section --------*/
    img {
        width: 100%;
        height: 450px;
        border-radius: 0 0 15% 15%;
        margin-bottom: 15%;
    } 

    .buddy-logo {
        display: none;
    }

    .welcome, .buddy {
        z-index: 1;
        position: absolute;
        top: 17%
    }

    .buddy {
        display: block;
        margin-top: 40px;
    }


    /*---------- Form Section --------*/
    .form {
        width: 80%;
        margin: auto;
    }

    .text_field{
        margin: 0;
    }

    .text_field input {
        margin: 0 0 8% 0;
        width: var(--form-width-mobile);
    }
    
    .checkbox-wrap{
        width: var(--form-width-mobile);
        margin: 0 0 10% 0%;
    }

    /*---------- Button Section --------*/
    .ctn{
        width: 10rem;
        padding: 5%;
    }
}