/*---------- VARIABLES FOR LOGIN PAGE  ----------*/

:root {
    --form-width-full: 27rem;
    --form-width-mobile: 90%;
}   
/*----------------------------------------------*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    display: none;
}

svg {
    margin: 2rem 0 0 2rem;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    background: var( --Primary);
    height: 100vh;
}

.left-container{
    margin-right: 30rem;
    width: 70%;

}

/*---------- Right Image --------*/
.img-wrap{
    position: fixed;
}

.side-image {
    width: 100%;
    height: 100vh;
    border-radius: 20% 0 0 20%;
} 

/*---------- Welcome Title --------*/
.welcome{
    margin: 20% 10% 5% 20% ;
    color: var(--White);
}

/*---------- Form Section --------*/
.text_field input {
    margin: 0 auto 3% 20%;
    width: var(--form-width-full);
    border:none;
    outline:none;
    background: none;
    border-bottom: 1px solid var(--White);
    font-size: 1rem;
    color: var(--White);
}

::placeholder{
    color: var(--White);
}

.checkbox-wrap {
    width: var(--form-width-full);
    display: flex;
    justify-content: space-between;
    margin: 0 auto 5% 20%;
    color: var(--White);
    text-decoration: none;
}

/*---------- Button Section --------*/
.btn-wrap{
    text-align: center;
    width: 80%
}

.ctn{
    width: 20rem;
    font-size: 1rem;
    padding: 3%;
    margin: 1%;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    color: var(--Text-Color);
}

.ctn:hover {
    background-color: var( --Primary-Light);
    color: var(--White)
}

@media (max-width: 600px) {
    /* Top Bar */
    header {
        display: block;
    }

    .container {
        display: block;
        height: 100%;
    }

    .left-container{
        width: 100vw;
        padding-bottom: 2rem;
    }

    /*---------- Head Section --------*/
    .img-wrap{
        position: relative;
    }

    .side-image {
        width: 100%;
        height: 450px;
        border-radius: 0 0 15% 15%;
        margin-bottom: 15%;
    } 

    .buddy-logo {
        display: none;
    }

    .welcome, .buddy {
        z-index: 1.5;
        position: absolute;
        top: 35%;
    }

    .buddy {
        display: block;
        margin-top: 40px;
    }


    /*---------- Form Section --------*/
    .form {
        width: 80%;
        margin: auto;
    }

    .text_field{
        margin: 0;
    }

    .text_field input {
        margin: 0 0 8% 3%;
        width: var(--form-width-mobile);
    }
    
    .checkbox-wrap{
        width: var(--form-width-mobile);
        margin: 0 0 10% 3%;
    }

    /*---------- Button Section --------*/
    .btn-wrap{
        width: 100%
    }

    .ctn{
        width: 9rem;
        padding: 1rem;
        margin-top: 1rem;
    }
}