/* Global CSS Variables */

.topnav {
  text-decoration: none;  
}
:root {
    --Accent-Color:;
    --Links-Color:#222;
    --Text-Color:#444;

    --Body-Font:"Inter";
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-attachment:fixed;
    font-family:var(--Body-Font);
    color:var(--Text-Color);
}

@-moz-document url-prefix(){
    * {
        scrollbar-width:thin; /* firefox only */
    }
}

img, iframe, figure {
    vertical-align:middle;
}

blockquote {
    margin-right:0;
}

a {
    text-decoration:none;
    color:var(--Links-Color);
}

/*-------- TOP BAR --------*/
.home-topnav .logo {
    font-family:"Roboto Slab";
    font-size:18px;
}