/* FONT: Brandon Grotesque (body font) */
@import url("https://use.typekit.net/xfl3wgw.css");

/* FONT: Macho (Bold, headings) */
@import url("https://use.typekit.net/zew8byy.css");

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-attachment:fixed;
    font-family:var(--Body-Font);
    font-size:var(--Body-Font-Size);
    color:var(--Text-Color);
    overscroll-behavior-y:none;
}

@-moz-document url-prefix(){
    * {
        scrollbar-width:thin; /* firefox only */
    }
}

img, iframe, figure {
    vertical-align:middle;
}

blockquote {
    margin-right:0;
}

a {
    text-decoration:none;
    color:var(--Links-Color);
}

p {
    margin-top:0.6rem;
    margin-bottom:0.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--Heading-Font);
}

h1 {
    font-size:var(--H1-Size);
}

h2 {
    font-size:var(--H2-Size);
}

h3 {
    font-size:var(--H3-Size);
}

h4, h5, h6 {
    font-size:calc(var(--H3-Size) * 0.9);
}

/* font appearance on mobile */
@media (max-width: 600px) {
    h1 {
        font-size:var(--Mobile-H1-Size);
    }

    h2 {
        font-size:var(--Mobile-H2-Size);
    }

    h3 {
        font-size:var(--Mobile-H3-Size);
    }

    h4, h5, h6 {
        font-size:calc(var(--Mobile-H3-Size) * 0.9);
    }
}

/* --------------- Top Hero Section -------------- */

.home-top-section{
    background-color: var(--Header-BG);
    height: var(--Header-Height);
    background-size:cover;
    background-position:center;
    background-image:url("../images/header-photo-temporary.jpeg");
}

.top-container {
    display:flex;
    align-items:center;
    margin-left:12vw;
    height:100%;
}

.hero-text {
    position:relative;
}

/* "Immerse yourself" */
.hero-text h1 {
    margin:0;
    font-family: var(--Body-Font);
    font-weight: 500;
    font-size: var(--Hero-Title-Size);
    white-space:pre-line;
    color:var(--White);
    text-shadow:0px calc(var(--Hero-Title-Size) * 0.1) calc(var(--Hero-Title-Size) * 0.1) var(--Primary);
    line-height: var(--Hero-Title-Line-Height);
    z-index: 1;
}

.hero-text .cta {
    display:block;
    margin-top:var(--Hero-CTA-Top-Gap);
}

.hero-text .cta a {
    display:inline-block;
    font-family: var(--Body-Font);
    font-weight: 700;
    font-size: var(--Hero-CTA-Size);

    display:flex;
    align-items:center;
    justify-content:center;

    width: var(--Hero-CTA-Width);
    height: var(--Hero-CTA-Height);

    background: var(--Secondary-Faded);
    border: 2px dashed var(--Text-Color);
    border-radius: var(--Hero-CTA-Roundness);
    text-align: center;
}

/*
.hero-text + .hero-img {
    margin-left:var(--Hero-Image-Left-Margin);
}

.hero-img {
    width: var(--Hero-Image-Width);
    height: var(--Hero-Image-Height);
}
*/

@media (max-width: 600px) {
    .home-top-section{
        height: 50vh;
    }

    .hero-text h1{
        max-width:60vw;
        font-size: var(--Mobile-Hero-Title-Size);
        white-space:normal;
    }

    .hero-text .cta a {
        width:var(--Mobile-Hero-CTA-Width);
        height:var(--Mobile-Hero-CTA-Height);
        font-size:var(--Mobile-Hero-CTA-Size);
    }
}    


/* ------------ Carousel Section ----------- */

.home-middle-section h1{
    margin: 50px;
    text-align: center;
}

.carousel-container {
    position:relative;
}

.home-carousel{
    width:var(--Carousel-Image-Width);
    margin:0px auto;
}

.slick-dotted.slick-slider {
    margin-bottom:0;
}

.slick-list {
    line-height:0;
}

.slick-slide img{
    height: var(--Carousel-Image-Height);
    width:100%;
    object-fit:cover;
}

/* carousel ARROWS */
.slick-arrow {
    width:var(--Carousel-Arrows-Size);
    height:var(--Carousel-Arrows-Size);
    z-index:4;
}

.slick-arrow:before {
    font-size:var(--Carousel-Arrows-Size);
    color: var(--Carousel-Arrows-Color)!important;
    opacity:1!important;
}

/* LEFT carousel arrow */
.slick-prev {
    left:0;
    margin-left:calc(0px - var(--Carousel-Arrows-Size) - var(--Carousel-Arrows-Gap));
}

.slick-prev:before {
    content:"<";
    font-family:manrope;
}

/* RIGHT carousel arrow */
.slick-next {
    right:0;
    margin-right:calc(0px - var(--Carousel-Arrows-Size) - var(--Carousel-Arrows-Gap));
}

.slick-next:before {
    content:">";
    font-family:manrope;
}

/* carousel navigation dots/circles */
.slick-dots {
    position:absolute;
    margin-top:var(--Carousel-Bottom-Gap);
    bottom:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}

.slick-dots li {
    display:block;
    margin:0;
    width:calc(var(--Carousel-Dots-Size) + var(--Carousel-Dots-Spacing));
    height:auto;
}

.slick-dots li button {
    display:block;
    position:relative;
    margin:auto;
    padding:var(--Carousel-Dots-Padding);
    width:var(--Carousel-Dots-Size);
    height:var(--Carousel-Dots-Size);
}

.slick-dots li button:before {
    font-size:var(--Carousel-Dots-Size);
    line-height:var(--Carousel-Dots-Size);
    width:auto;
    height:auto;
    opacity:1!important;
    color:var(--Carousel-Dots-Color);
}

.slick-dots li.slick-active button:before {
    color:var(--Carousel-Dots-Active-Color);
}

@media (max-width: 600px) {
    .slick-slide img{
        height: 200px;
        width:100%;
    }
}

/* ----------- Categories Section ---------- */

.home-categories{
    margin: 10vh 15vw;
    text-align: center;    
}

.categories-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:5vh 5vw; /* row gap | column gap */
}

.categories-grid a {
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 20px;    
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 30px;
    background-color: var(--Category-Links-BG);
    border:1px solid var(--Category-Links-Border);
}

.home-bottom-section hr{
    margin: 10vmin auto;
    width: 60%;
    border:0px solid transparent;
    border-top: 1px dashed #000;
}

.free-online {
    grid-template-columns:20vw 20vw;
    justify-content:center;
}

.free-online a {
    padding:20px;
    font-weight: 700;
    border-radius: 40px;
    background-color:var(--Category-Buttons-BG);
    border:0px solid transparent;
}

@media (max-width: 600px) {
    .categories-grid {
        grid-template-columns:1fr 1fr;
        grid-gap:20px 30px;
    }

    .categories-grid a {
        padding: 10px 20px;
        font-size: 1.2rem;
        border-radius:25px;
    }

    .free-online button{
        background-color: #e0e0e0;
        border: none;
    }

    .free-online a {
        padding: 10px 20px;
        font-size: 1.2rem;
        border-radius:25px;
    }
}