/* Global CSS Variables */

.topnav {
  text-decoration: none;  
}
:root {
    --Accent-Color:;
    --Links-Color:#222;
    --Text-Color:#444;

    --TopBar-Padding:20px;

    --Searchbar-BG:#fff;
    --Searchbar-Padding:8px 15px;
    --Searchbar-Text-Color:#222;

    --Searchbar-Icon-Color:#999;

    --Header-BG:#f0f0f0;

    --Body-Font:"Inter";
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-attachment:fixed;
    font-family:var(--Body-Font);
    color:var(--Text-Color);
}

@-moz-document url-prefix(){
    * {
        scrollbar-width:thin; /* firefox only */
    }
}

img, iframe, figure {
    vertical-align:middle;
}

blockquote {
    margin-right:0;
}

a {
    text-decoration:none;
    color:var(--Links-Color);
}

/*-------- HEADER --------*/
header {
    background-color:var(--Header-BG);
}

/*-------- TOP BAR --------*/
.home-topnav .logo {
    font-family:"Roboto Slab";
    font-size:18px;
}

/*-------- SEARCHBAR --------*/
nav {
    padding:var(--TopBar-Padding);
}

.searchbar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:var(--Searchbar-Padding);
    outline:none;
    background:var(--Searchbar-BG);
    border-radius:20px;
}

.searchbar input {    
    border:0px solid transparent;    
    font-family:var(--Body-Font);
    color:var(--Searchbar-Text-Color);
}

.searchbar button {
    padding:4px;
    outline:none;
    line-height:0;
    border:0px solid transparent;
    background:transparent;
    color:var(--Searchbar-Icon-Color);
}