/*------ VARIABLES FOR My Collection PAGE ------*/
:root {

    --main-container-padding-full: 6rem 0 0 0;
    --illustration-width-full: 400px;
    --illustration-position-top-full: 17rem;
    --illustration-position-rigth-full: 4rem;

    /* ---- Event Card Full ---- */
    --event-container-width-full: 55%;
    --event-container-margin-full: 1% 0 2% 8%;

    --card-container-width-full: 100%; 
    --card-container-grid-template-full: 39% 55% 6%;
    --card-container-border-radius-full: 0 40px 40px 0;

    --card-image-width-full: 19rem;
    --card-image-height-full: 10rem;

    --card-description-padding-full: 1.5rem 0 0 2rem;
    --card-description-line-height-full: 1.1rem;
    --card-event-name-padding-full: 0 0 0.5rem 0;

    --trash-icon-margin-full: auto;

    /*------- MOBILE -------*/
    --illustration-position-top-mobile: 7rem;
    --illustration-position-rigth-mobile: 0;
    --illustration-img-width-mobile: 15rem;
    --illustration-img-margin-mobile: 0 25% 0;

    --container-padding-mobile: 19rem 0 0 0;

    /* ---- Event Card Mobile ---- */
    --event-container-width-mobile: 85%;
    --card-content-image-width-mobile: 12rem;
    --card-content-image-height-mobile: 9rem;

    --card-description-padding-mobile: 1.1rem 0 0 2.5rem;
    --card-description-font-size-mobile:  0.9rem;
    --card-content-margin-mobile: 0.1rem 0;

    --event-name-font-size-mobile: 1rem;
    --event-name-padding-mobile: 0 0 0.5rem 0;

    --trash-icon-margin-mobile: auto 0;
    --trash-icon-font-size-mobile: 1rem;

}

/*----------------------------------------------*/

/*---- Top Bar ----*/
nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}
/* ----------------------------------------- */
/* ----------------------------------------- */

.container {
    padding: var(--main-container-padding-full);
}

.illustration {
    width: var(--illustration-width-full);
    position: fixed;
    top: var(--illustration-position-top-full);
    right: var(--illustration-position-rigth-full);
}

/* --------Event Card---------- */

.event-wraper {
    display: block;
}

.event-container {
    width: var(--event-container-width-full);
    margin: var(--event-container-margin-full);
}

.card-container {
    width: var(--card-container-width-full);
    display: grid;
    grid-template-columns: var(--card-container-grid-template-full);
    border-radius: var(--card-container-border-radius-full);
    background-color: #f0f0f0;
}

.card-content.image {
    width: var(--card-image-width-full);
    height: var(--card-image-height-full);
    border-radius: var(--card-container-border-radius-full);
    object-fit:cover;
}

.card-description {
    padding: var(--card-description-padding-full);
    line-height: var(--card-description-line-height-full);
}

h3.card-content{
    padding: var(--card-event-name-padding-full);
    font-size: var(--H3-Size);
}

.delete-event {
    margin: var(--trash-icon-margin-full);
}

.delete-event:hover {
    color: var(--Primary);
} 

/* ------------ Footer ------------ */
.home-footer {
    display: none;
}


/*---------- MOBILE  ----------*/
@media(max-width:600px){
    /* top bar */
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }

    .top-navlinks {
        color: var(--White);
    }

    /* un-orange logo */
    nav .logo [vector-part="buddy_bu"] path,
    nav .logo [vector-part="buddy_y"] path {
        fill:var(--White);
    }

    /* LEFT panel */
    .left-panel {
        display:none;
    }

/* ------------------------------------ */
    .container {
        padding: var(--container-padding-mobile);
    }
    
    .illustration {
        position: absolute;
        top: var(--illustration-position-top-mobile);
        right: var(--illustration-position-rigth-mobile);
        width: 100%;
    }

    .illustration img {
        width: var(--illustration-img-width-mobile);
        margin: var(--illustration-img-margin-mobile);
    }


    /* --------Event Card---------- */

    .event-container {
        width: var(--event-container-width-mobile);
    }

    .card-content.image {
        width: var(--card-content-image-width-mobile);
        height: var(--card-content-image-height-mobile);
    }

    .card-description {
        padding: var(--card-description-padding-mobile);
        font-size: var(--card-description-font-size-mobile);
    }

    .card-content {
        margin: var(--card-content-margin-mobile);
    }
    
    h3.card-content{
        padding: var(--event-name-padding-mobile);
        font-size: var(--event-name-font-size-mobile);
    }

    .delete-event {
        margin: var(--trash-icon-margin-mobile);
        font-size: var(--trash-icon-font-size-mobile-mobile);
    }

    /* ---- Footer ----- */
    .home-footer {
        display: block;
        margin-top: 4rem;
    }

}