/*------ VARIABLES FOR My Events (for User) PAGE ------*/
:root {

    --container-grid-template-full: 45% 55%;
    --container-pdding-full: 6rem 0 0 0;
    --left-container-margin-full: 7rem 0 0 10rem;

    --text-field-input-margin-full: 0 0 5% 0;
    --text-field-input-width-full: 350px;   

    /* -- Category Options Full-- */
    --category-label-margin-full: 0 0 0.9rem 0;
    --category-label-font-size-full: 1.3rem;
    --category-label-font-weight-full: 900;

    --category-options-margin-full: 0 0 5% 0;
    --category-options-width-full: 350px;
    --category-checkbox-option-margin-full: 0 2rem 0 0;
    --categor-checkbox-input-width-full: 20px;
    --categor-checkbox-input-margin-full: 0;

    /* ---- Buttons Full---- */
    --buttons-width-full: 7rem;
    --buttons-padding-full:  0.5rem 0;
    --buttons-margin-full: 2rem 1rem;
    --buttons-border-radius-full: 25px;

    /* --- Event Card Full --- */
    --event-wrap-width-full: 100%;
    --event-wrap-padding-full: 0 0 1rem 0;
    --event-container-width-full: 90%;
    --event-container-margin-full: 1% auto 3% 0;
 
    --card-container-width-full: 100%;
    --card-container-grid-template-full: 40% 60%;
    --card-container-border-radius-full: 0 20px 20px 0;

    --card-content-image-width-full: 17rem;
    --card-content-image-height-full: 10rem;
    --card-content-image-border-radius-full: 0 20px 20px 0;
    
    --event-name-padding-full: 0.2rem 0 0.5rem;
    --card-description-padding-full: 1rem 0 0.5rem 1rem;
    --card-description-line-height-full: 1rem;
    --card-description-hr-width-full: 90%;

    --leave-review-padding-full: 0.4rem 0 0 0; 

    /*------- MOBILE  -------*/
    --container-padding-mobile: 6rem 0 0 0;
    --left-container-margin-mobile: 0 auto;
    
    --form-wrap-margin-mobile: 5% 10% 0 10%;
    --text-field-input-margin-mobile: 0 0 5% 0;
    --text-field-input-width-mobile: 400px;
    --text-field-input-font-size-mobile: 0.9rem;

    /* ---- Category Mobile---- */
    --category-label-font-weight-mobile: 900;
    --category-label-font-size-mobile: 1rem;

    --checkbox-option-font-size-mobile: 0.8rem;
    --checkbox-option-padding-mobile: 0 2rem 0 0;
    --checkbox-input-width-mobile: 1rem;
    --checkbox-input-margin-mobile: 0 auto;
    
    --checkbox-option-margin-mobile: 0 auto;
    --checkbox-option-width-mobile: 100%;
    
    /* ---- Buttons Mobile ---- */
    --buttons-width-mobile: 6rem; 
    --buttons-padding-mobile: 0.5rem 0; 
    --buttons-margin-mobile: 2rem 1rem 2rem; 
    --buttons-font-size-mobile: 0.8rem; 

    /* ---- Event Card ---- */
    --card-container-grid-template-mobile: 45% 55% ;

    --event-container-width-mobile: 90%;
    --event-container-margin-mobile: 1rem auto 1rem;

    --card-description-padding-mobile: 0.8rem 0 0 0;
    --card-description-font-size-mobile: 0.9rem;
    
    --card-image-width-mobile: 12rem;
    --card-image-height-mobile: 8rem;

    --card-content-margin-mobile: 0.1rem 0;
    --event-name-padding-mobile: 0 0 0.5rem 0;
    --event-name-font-size-mobile: 1rem;

    --leave-review-padding-mobile: 0.1rem 0 0 0; 
}

/*----------------------------------------------*/

/*---- Top Bar ----*/
nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}

.acc-dropdown-wrap {
    background-color: #fff;
}
/* ----------------------------------------- */
/* ------------ LEFT Column ---------------- */
.container {
    display: grid;
    grid-template-columns: var(--container-grid-template-full);
    width:100%;
    height:100%;
    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
    padding: var(--container-pdding-full);
}

.left-container{
    margin: var(--left-container-margin-full);
}

/* --------- Text fields ---------- */

.form-wrap {
    position: fixed;
}

.text-field input {
    margin: var(--text-field-input-margin-full);
    width: var(--text-field-input-width-full);
    border:none;
    outline:none;
    background: none;
    border-bottom: 1px solid var(--Text-Color);
    font-size: var(--Body-Font-Size);
    font-family: var(--Heading-Font);
    color: var(--Text-Color);
}

::placeholder{
    color: var(--Text-Color);
}

/* ----------- Category ----------- */

.category {
    display: inline;
}

.category-label {
    display: block;
    border-bottom: 1px solid var(--Text-Color);
    margin: var(--category-label-margin-full);
}

.category-label label{
    font-weight: var(--category-label-font-weight-full);
    font-size: var(--category-label-font-size-full);
}

.options {
    margin: var(--category-options-margin-full);
    width: var(--category-options-width-full);
}

.checkbox-option {
    margin: var(--category-checkbox-option-margin-full);
}

.checkbox-option > input {
    width: var(--categor-checkbox-input-width-full);
    margin: var(--categor-checkbox-input-margin-full);
}

.arrow {
    color: var(--Text-color);
    cursor: pointer;
}

.category-list {
    display: none;
}

.show {
    display: block;
}

/* --------- Reset / Search Buttons --------- */
.btn-wrap {
    text-align: center;
}

.btn {
    width: var(--buttons-width-full);
    padding: var(--buttons-padding-full);
    margin: var(--buttons-margin-full);
    border-radius: var(--buttons-border-radius-full);
    border: 1px solid var(--Text-Color);
    font-family: var(--Body-Font);
    font-size: var(--Body-Font-Size);
    cursor: pointer;
}

.reset-btn {
    background-color: var(--White);
    color: var(--Text-Color);
}

.search-btn {
    background-color: var(--Text-Color);
    color: var(--White);
}

.reset-btn:hover {
    background-color: var(--Light-Gray);
    border: 1px solid var(--Light-Gray);
}

.search-btn:hover {
    background-color: var(--Light-Gray);
    border: 1px solid var(--Light-Gray);
    color: var(--Text-Color);
}
/* ----------------------------------------- */
/* ------------ RIGHT Column ---------------- */

/* --------Event Card---------- */
.event-wrap {
    display: block;
    width: var(--event-wrap-width-full);
    padding: var(--event-wrap-padding-full);
}

.event-container {
    width: var(--event-container-width-full);
    margin: var(--event-container-margin-full);
}

.card-container {
    width: var(--card-container-width-full);
    display: grid;
    grid-template-columns: var(--card-container-grid-template-full);
    border-radius: var(--card-container-border-radius-full);
    background-color: #f0f0f0;
}

.card-content.image {
    width: var(--card-content-image-width-full);
    height: var(--card-content-image-height-full);
    border-radius: var(--card-content-image-border-radius-full);
    object-fit:cover;
}

h3.card-content{
    padding: var(--event-name-padding-full);
    font-size: var(--H3-Size);
}

.card-description {
    padding: var(--card-description-padding-full);
    line-height: var(--card-description-line-height-full);
}

.card-description hr {
    width: var(--card-description-hr-width-full);
}

/* ----- Leave Review / Coming Event ----- */
.action {
    border: none;
    font-weight: 900;
    padding: var(--leave-review-padding-full);
    font-family: var(--Body-Font);
    font-size: var(--Body-Font-Size);
    cursor: pointer;
}

.leave-review {
    color: var(--Primary);
}

.coming {
    color: var(--Accent);
}

/* ---- Footer ----- */
.home-footer {
    display: none;
}

/*---------------- MOBILE  ----------------*/
@media(max-width:600px){
    /* top bar */
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }

    .top-navlinks {
        color: var(--White);
    }

    /* un-orange logo */
    nav .logo [vector-part="buddy_bu"] path,
    nav .logo [vector-part="buddy_y"] path {
        fill:var(--White);
    }

    /* LEFT panel */
    .left-panel {
        display:none;
    }
    
    /* ------------------------------------ */

    .container {
        display: block;
        padding: var(--container-padding-mobile);
    }
    
    .left-container{
        margin: var(--left-container-margin-mobile);
    }

    .form-wrap {
        position: relative;
        margin: var(--form-wrap-margin-mobile);
    }

    .text-field input, .text-field label {
        margin: var(--text-field-input-margin-mobile);
        width: var(--text-field-input-width-mobile);
        font-size: var(--text-field-input-font-size-mobile);
    }

    /* ----------- Category ----------- */
    .category-label label{
        font-weight: var(--category-label-font-weight-mobile);
        font-size: var(--category-label-font-size-mobile);
    }
    
    .checkbox-option {
        font-size: var(--checkbox-option-font-size-mobile);
        padding: var(--checkbox-option-padding-mobile);
    }

    .checkbox-option > input {
        width: var(--checkbox-input-width-mobile);
        margin: var(--checkbox-input-margin-mobile);
    }
    
    .options {
        margin: var(--checkbox-option-margin-mobile);
        width: var(--checkbox-option-width-mobile);
    }

    /* -------- Buttons -------- */
    .btn {
        width: var(--buttons-width-mobile);
        padding: var(--buttons-padding-mobile);
        margin: var(--buttons-margin-mobile);
        font-size: var(--buttons-font-size-mobile);
    }

    /* --------Event Card---------- */
    .event-container {
        width: var(--event-container-width-mobile);
        margin: var(--event-container-margin-mobile);
    }

    .card-container {
        grid-template-columns: var(--card-container-grid-template-mobile);
    }

    .card-description {
        padding: var(--card-description-padding-mobile);
        font-size: var(--card-description-font-size-mobile);
    }

    .card-content.image {
        width: var(--card-image-width-mobile);
        height: var(--card-image-height-mobile);
    }

    p.card-content {
        margin: var(--card-content-margin-mobile);
    }
    
    h3.card-content{
        padding: var(--event-name-padding-mobile);
        font-size: var(--event-name-font-size-mobile);
    }

    .action {
        padding: var(--leave-review-padding-mobile);
    }    

    /* ---- Footer ----- */
    .home-footer {
        display: block;
        position: relative;
    }
}