/*---------- VARIABLES FOR MYEVENTS PAGE  ----------*/
:root {
    --Left-Panel-Width:38vw;
    --Left-Panel-Rounding:120px;

    --Quick-Links-Spacing:1rem; /* desktop only */

    --Create-Event-Button-Width:calc(var(--Left-Panel-Width) / 2);
    --Create-Event-Button-Height:7vh;

    --Tray-Arrow-Size:1.5rem;
    --Tray-Arrow-Touch-Padding:0.8rem;
    --Tray-Arrow-Edge-Offset:0.6rem;

    --Tray-Transition-Speed:0.420s;
    --Tray-Transition-Method:cubic-bezier(0.14, 0, 0.14, 1);

    --Panel-CLOSED-Width:calc(var(--Tray-Arrow-Size) + var(--Tray-Arrow-Touch-Padding) + var(--Tray-Arrow-Edge-Offset));

    --Events-H1-Bottom-Gap:3rem;

    /*---- Event Container Settings ----*/
    /* events section width, including the arrows */
    --Events-Container-Width:calc(100vw - var(--Panel-CLOSED-Width) - (var(--Events-Container-Side-Gaps) * 2));
    --Events-Container-Side-Gaps:30px;

    --Events-Slide-Transition-Speed:500ms;
    --Events-Slide-Transition-Method:cubic-bezier(0.14, 0, 0.14, 1);

    /*---- Event Arrows ----*/
    --Events-Arrows-Size:1.2rem;
    --Events-Arrows-Touch-Padding:0.6em;
    --Events-Arrows-Aisle-Gap:20px;
    --Events-Arrows-Column-Width:calc(var(--Events-Arrows-Size) + var(--Events-Arrows-Touch-Padding) + var(--Events-Arrows-Aisle-Gap));

    /*---- Event Layout Settings ----*/
    --Events-Grid-Width:calc(var(--Events-Container-Width) - (var(--Events-Arrows-Column-Width) * 2));
    --Events-Per-Row:3;
    --Events-Gaps-Count:calc(var(--Events-Per-Row) - 1);
    --Events-Spacing:15px;

    /*---- Each Single Event ----*/
    --Events-Each-Width:calc((var(--Events-Container-Width) - (var(--Events-Arrows-Column-Width) * 2) - (var(--Events-Spacing) * var(--Events-Gaps-Count))) / var(--Events-Per-Row));
    --Events-Image-Height:calc(var(--Events-Each-Width) * 0.74);
    --Events-Roundness:calc(var(--Events-Each-Width) * 0.11);

    --Event-Details-Padding:1.3rem;
    
}

/*---------- DESKTOP  ----------*/
@media(min-width:600px){
    /*---- Top Bar ----*/
    header {
        background:transparent;
        position:fixed;
        width:100%;
        z-index:3;
    }

    nav {
        grid-template-columns:1fr 1fr;
    }

    nav[status="closed"] .logo [vector-part="buddy_bu"] path,
    nav[status="closed"] .logo [vector-part="buddy_y"] path {
        fill:var(--Primary);
    }

    nav[status-change="proc"] .logo [vector-part="buddy_bu"] path,
    nav[status-change="proc"] .logo [vector-part="buddy_y"] path {
        transition:fill var(--Tray-Transition-Speed) var(--Tray-Transition-Method);
    }

    .searchbar {
        display:none;
    }

    .top-navlinks {
        justify-content:right;
    }

    .top-navlinks a {
        color:var(--Main-Text);
    }

    /*---- Left Panel ----*/
    .left-panel {
        position:fixed;
        width:var(--Left-Panel-Width);
        height:100vh;
        border-radius:0 var(--Left-Panel-Rounding) var(--Left-Panel-Rounding) 0;
        background:var(--Primary);
        overflow:hidden;
        z-index:2;
    }

    /*---- Quick Links ----*/
    .quick-links {
        position:absolute;
        top:0;left:0;
        width:100%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-wrap:nowrap;
        flex-direction:column;
        width:calc(var(--Left-Panel-Width) - var(--Tray-Arrow-Size));
        font-size:var(--H2-Size);
    }

    .left-panel[status="closed"] .quick-links {
        margin-left:calc(0px - var(--Left-Panel-Width) + var(--Tray-Arrow-Size));
    }

    .left-panel[status-change="proc"] .quick-links {
        transition:margin-left var(--Tray-Transition-Speed) var(--Tray-Transition-Method);
    }

    .quick-links a {
        display:flex;
        align-items:center;
        justify-content:center;
        margin-bottom:var(--Quick-Links-Spacing);
        color:var(--White);
    }

    .quick-links a:last-child {
        margin-bottom:0;
    }

    .create-event {
        /* note: flex items margins add up, so need to collapse it */
        margin-top:calc(0px - var(--Quick-Links-Spacing) + 5vh);
        min-width:var(--Create-Event-Button-Width);
        min-height:var(--Create-Event-Button-Height);
        display:flex;
        align-items:center;
        justify-content:center;
        background:var(--White);
        border-radius:30px;

        font-size:var(--H3-Size);
        font-weight:700;
        color:var(--Primary)!important;
        line-height:100%;
    }

    /*---- Arrow Container ----*/
    .arrow-container {
        position:absolute;
        top:0;left:0;
        margin-left:100%;
        width:0px;
        height:100%;
        display:flex;
        align-items:center;
        z-index:1;
    }

    .arrow-container [arrow]{
        display:flex;
        align-items:center;
        justify-content:center;
        width:var(--Tray-Arrow-Size);
        height:var(--Tray-Arrow-Size);

        margin-left:calc(0px - var(--Tray-Arrow-Touch-Padding) - var(--Tray-Arrow-Size) - var(--Tray-Arrow-Edge-Offset));
        padding:var(--Tray-Arrow-Touch-Padding);
        padding-right:var(--Tray-Arrow-Edge-Offset);

        box-sizing:content-box;
    }

    .arrow-container i {
        flex-shrink:0;
        display:none;        
        font-size:var(--Tray-Arrow-Size);
        color:var(--White);
    }

    /*---- CLOSED Panel ----*/
    .left-panel[status="closed"]{
        width:calc((var(--Tray-Arrow-Edge-Offset) * 2) + var(--Tray-Arrow-Size));
    }

    .left-panel[status-change="proc"]{
        transition:width var(--Tray-Transition-Speed) var(--Tray-Transition-Method);
    }

    /*---- Main Content ----*/
    .main-content {
        position:absolute;
        margin-left:var(--Panel-CLOSED-Width);
        width:calc(100vw - var(--Panel-CLOSED-Width));
        height:100vh;
        display:table;
        z-index:0;
    }

    .mc-tb {
        display:table-cell;
        vertical-align:middle;
    }

    h1.my-events {
        text-align:center;
        margin-bottom:var(--Events-H1-Bottom-Gap);
    }

    .events-cont {
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left:var(--Events-Container-Side-Gaps);
        margin-right:var(--Events-Container-Side-Gaps);
    }

    .events-arrow {
        display:flex;
        align-items:center;
        justify-content:center;
        padding:var(--Events-Arrows-Touch-Padding);
        width:var(--Events-Arrows-Column-Width);
    }

    .events-arrow i {
        display:block;
        flex-shrink:0;
        font-size:var(--Events-Arrows-Size);
        color:var(--Text-Color);
    }

    .events-arrow.prev-events {
        padding-right:var(--Events-Arrows-Aisle-Gap);
    }

    .events-arrow.next-events {
        padding-left:var(--Events-Arrows-Aisle-Gap);
    }

    .events-grid-cont {
        width:var(--Events-Grid-Width);
        overflow:hidden;
    }

    .events-grid {
        display:grid;
        grid-template-columns:repeat(var(--Events-Per-Row), var(--Events-Each-Width));
        grid-gap:var(--Events-Spacing);
        transition:margin-left var(--Events-Slide-Transition-Speed) var(--Events-Slide-Transition-Method);
    }

    .event-block {
        background:var(--Light-Gray);
        border-radius:var(--Events-Roundness);
        overflow:hidden;
    }

    .event-block img {
        width:100%;
        height:var(--Events-Image-Height);
        object-fit:cover;
    }

    .event-details {
        padding:calc(var(--Event-Details-Padding) + (var(--Events-Roundness) / 4));
        padding-top:var(--Event-Details-Padding);
        padding-bottom:calc(var(--Event-Details-Padding) + (var(--Events-Roundness) / 8));
    }

    h3.event-name {
        margin-top:calc(var(--H3-Size) * -0.2);
    }

    h3.event-name + .detail-row {
        margin-top:calc(var(--H3-Size) * 0.2);
    }

    .detail-row b {
        padding-right:2px;
    }

}

/*---------- MOBILE  ----------*/
@media(max-width:600px){
    /* un-orange logo */
    nav .logo [vector-part="buddy_bu"] path,
    nav .logo [vector-part="buddy_y"] path {
        fill:default;
    }

    .left-panel {
        display:none;
    }

    .events-cont {
        display:none;
    }
}