/*------ VARIABLES FOR My Review PAGE ------*/
:root {

    --container-margin-full: 0 3rem 0 6rem; 
    --container-padding-full: 5rem 0 0 0;

    --illustration-margin-full: 1rem 7.7rem 0rem 7.7rem;
    --illustration-width-full: 400px;

    --card-width-full: 550px;
    --card-margin-full: 0.7rem 3rem;

    --card-top-section-margin-full: 0 0 5px 0;
    --profile-pic-width-full: 60px;
    --profile-pic-border-radius-full: 50%;
    --user-name-margin-full: 0 0 0 10px;
    --user-name-font-weight-full: 500;
    --user-name-font-size-full: 1.4rem;
    
    --review-box-padding-full: 0.7rem 1.3rem;
    --edit-icons-padding-full: 3px;
    --text-wrap-height-full: 100px;

    /* ---- Mobile ---- */
    --container-margin-mobile: 0 auto 4rem;
    --container-padding-mobile: 4rem 0 0 0;

    --illustration-margin-mobile: 1rem auto;
    --illustration-padding-mobile: 2rem;

    --profile-pic-width-mobile: 50px;
    --user-name-font-size-mobile: 1.2rem;
    --star-rating-font-size-mobile: 0.9rem;
    --review-font-size-mobile: 1rem;

}

/*----------------------------------------------*/
/*---- Top Bar ----*/
nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}

.acc-dropdown-wrap {
    background-color: #fff;
}
/* ----------------------------------------- */

.container {
    margin: var(--container-margin-full);
    padding: var(--container-padding-full);
}

.illustration {
    margin: var(--illustration-margin-full);
    width: var(--illustration-width-full);
    display: block;
}

/* ------- card -------- */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    width: var(--card-width-full);
    margin: var(--card-margin-full);
}

.top-section {
    display: flex;
    margin: var(--card-top-section-margin-full);
}

.profile-pic {
    width: var(--profile-pic-width-full);
    border-radius: var(--profile-pic-border-radius-full);
}

.user-name {
    display: flex;
    margin: var(--user-name-margin-full);
    font-weight: var(--user-name-font-weight-full);
    font-size: var(--user-name-font-size-full);
}

.star-rating {
    display: flex;
    margin: var(--user-name-margin-full);
}

/* ----- Star Rating ----- */
.star-rating i.fill {
    color:var(--Primary);
}

.star-rating i.empty {
    color:var(--Secondary-Light);
}


/* Text and Icons */
.review-box {
    color: var(--White);
    background-color: var(--Text-Color);
    border-radius: 15px;
    padding: var(--review-box-padding-full)
}

.text {
    height: var(--text-wrap-height-full);
}

.event-actions {
   text-align: right;
}

.edit-event, .delete-event{
    padding: var(--edit-icons-padding-full);
}

.edit-event:hover {
    color: var(--Primary);
}

.delete-event:hover {
    color: var(--Primary);
}

/* ------------ Footer ------------ */
.home-footer {
    display: none;
}

/*---------- MOBILE  ----------*/
@media(max-width:600px){
    /* top bar */
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }

    .top-navlinks {
        color: var(--White);
    }

    /* un-orange logo */
    nav .logo [vector-part="buddy_bu"] path,
    nav .logo [vector-part="buddy_y"] path {
        fill:var(--White);
    }

    /* LEFT panel */
    .left-panel {
        display:none;
    }

/* --------------------------------------------- */

    body {
        background-color: var(--Primary);
    }

    .container {
        margin: var(--container-margin-mobile);
        padding: var(--container-padding-mobile);
    }

    .illustration {
        margin: var(--illustration-margin-mobile);
        padding: var(--illustration-padding-mobile);
    }

    .profile-pic {
        width: var(--profile-pic-width-mobile);
    }

    .user-name {
        font-size: var(--user-name-font-size-mobile);
        color: var(--White);
    }

    /* -- Star Rating -- */
    .star-rating {
        font-size: var(--star-rating-font-size-mobile);
    }

    .star-rating i.fill {
        color:var(--White);
    }

    .star-rating i.empty {
        color:var(--Secondary-Light);
    }

    /* -- Text and Icons -- */
    .review-box {
        color: var(--Text-Color);
        background-color: var(--White);
        border-radius: 25px;
        font-size: var(--review-font-size-mobile);
    }

    /* ---- Footer ----- */
    .home-footer {
        display: block;
    }

}