/*---------- TOP BAR  ----------*/
/* customized for PROFILE.html */

header {
    background:transparent;
    position:fixed;
    width:100%;
    z-index:3;
}

nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}

.acc-dropdown-wrap {
    background-color: #fff;
}

.arrow-container {
    display:none!important;
}

/* mobile adjustments for TOP BAR */
@media(max-width:600px){
    header {
        background:var(--Primary);
    }

    .searchbar {
        display:flex;
    }

    .top-navlinks {
        color: var(--White);
    }
}

/*---------- VARIABLES FOR PROFILE PAGE  ----------*/
:root {
    --Profile-Page-Loading-Icon-Size:6vw;
    --Mobile-Profile-Page-Loading-Icon-Size:10vw;

    --Profile-Page-Loading-Spin-Speed:1.5s;
    --Profile-Page-Loading-Spin-Method:linear;

    --Profile-Page-FadeIn-Speed:0.3s;
    --Profile-Page-FadeIn-Method:linear;
    
    --Left-Panel-Width:38vw;
    --Left-Panel-Rounding:120px;

    --Right-Content-Width:32vw;
    --Profile-Page-Screen-Padding:10vh; /* margin at top&bottom of screen*/

    --Profile-Picture-Size:calc(var(--Right-Content-Width) * 0.420); /* prototype: 214px */
    --Star-Size:var(--H2-Size);
    --Star-Spacing:3px;

    --mobile-grid-links-Icon-Size:5vmin;
    --mobile-grid-links-Icon-Gap-Right:0.8rem;
    --mobile-grid-links-Spacing:1rem; /* desktop only */

    --Create-Event-Button-Width:calc(var(--Left-Panel-Width) / 2);
    --Create-Event-Button-Height:7vh;

    --Badges-Image-Size:7vw;
    --Badges-Spacing:1.5rem;

    /*-------------------------------*/

    --Mobile-Profile-Sections-Padding:5vmin;
    --Mobile-Profile-Sections-Rounding:3vmin;
    --Mobile-Profile-Sections-Spacing:2vmin;
}

/*---------- RIGHTSIDE CONTAINER ----------*/
.rightside {
    position:absolute;
    top:0;left:0;
    margin-left:var(--Left-Panel-Width);
    width:calc(100% - var(--Left-Panel-Width));
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.right-inner {
    width:var(--Right-Content-Width);
    display:none;
    flex-direction:column;
    align-items:center;
    padding:var(--Profile-Page-Screen-Padding) 0;

    /* temporary properties */
    /* will be overridden when content has loaded */
    position:absolute;
    top:0;left:0;
    visibility:hidden;
    opacity:0;
}

.right-inner > *:last-child {
    margin-bottom:0;
}

.right-inner.flex-it {
    display:flex;
}

.reveal {
    position:relative;
    top:initial;left:initial;
    visibility:visible;
    opacity:1;
    transition:opacity var(--Profile-Page-FadeIn-Speed) var(--Profile-Page-FadeIn-Method);
}

/*----- LOADER -----*/
/* shown when database content is still loading */
.loader {
    visibility:visible;
    opacity:1;
}

.loader i {
    display:block;
    font-size:var(--Profile-Page-Loading-Icon-Size);
    color:var(--Primary);
    animation-name:loaderSpin;
    animation-duration:var(--Profile-Page-Loading-Spin-Speed);
    animation-direction:normal;
    animation-timing-function:var(--Profile-Page-Loading-Spin-Method);
    animation-iteration-count:infinite;
    transform-origin:center;
}

@keyframes loaderSpin {
    from {
        transform:rotate(0deg)
    }

    to {
        transform:rotate(360deg)
    }
}

.remove-loader {
    opacity:0;
    transition:opacity var(--Profile-Page-FadeIn-Speed) var(--Profile-Page-FadeIn-Method);
}

/*----- PROFILE USERNAME -----*/
.rightside h1.username {
    margin-top:calc(var(--H1-Size) * 0.2);
    margin-bottom:calc(var(--H1-Size) * 0.4);
}

/*----- PROFILE PICTURE -----*/
.profile-picture {
    width:var(--Profile-Picture-Size);
    height:var(--Profile-Picture-Size);
    object-fit:cover;
    border-radius:100%;
}

/*----- STAR RATING -----*/
.star-rating {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:nowrap;
    margin:0.5rem 0;
}

h1.username + .star-rating {
    margin-top:0;
}

.star-rating i {
    margin:0 calc(var(--Star-Spacing) / 2);
    display:block;
    font-size:var(--Star-Size);
}

.star-rating i.fill {
    color:var(--Primary);
}

.star-rating i.empty {
    color:var(--Secondary-Light);
}

/*----- QUICK LINKS -----*/
.links-panel {
    display:none; /* desktop */
}

/*----- PROFILE BADGES -----*/
.badges-section {
    margin-top:1.5rem;
}

h2.badges-title {
    margin:var(--H2-Size) 0;
    text-align:center;
}

.badges {
    display:grid;
    grid-template-columns:var(--Badges-Image-Size) var(--Badges-Image-Size) var(--Badges-Image-Size);
    grid-gap:var(--Badges-Spacing);
}

.badge {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.badge > * {
    flex-shrink:0;
    display:block;
}

.badge img {
    width:var(--Badges-Image-Size);
    height:var(--Badges-Image-Size);
    border-radius:100%;
    object-fit:cover;
}

.badge-label {
    margin-top:0.6em;
}

/*---------- FOOTER  ----------*/
/* customized for PROFILE.html */
@media(min-width:600px){
    footer {
        display:none;
    }
}


/* mobile adjustments for RIGHTSIDE */
@media(max-width:600px){
    :root {
        --Right-Content-Width:85vw;
        --Profile-Picture-Size:25vw;

        --Badges-Image-Size:18vw;
    }

    .left-panel {
        display:none;
    }

    .rightside {
        position:relative;
        top:initial;
        left:initial;
        margin-left:0;
        width:auto;
        min-height:0;
        display:block;
    }
    
    .loader {
        position:fixed;
        top:50%;left:50%;
        transform:translate(-50%,-50%);
    }

    .loader i {
        font-size:var(--Mobile-Profile-Page-Loading-Icon-Size);
    }

    .right-inner {
        margin:0 auto;
        padding-top:calc(var(--TopBar-Height) + var(--Profile-Page-Screen-Padding));
    }

    /*---- MOBILE: LINKS ----*/
    .links-panel {
        position:relative;
        top:initial;left:initial;
        width:100%;
        height:auto;
        background:transparent;
        border-radius:0px;
        display:block;
    }

    .mobile-grid-links {
        margin-top:6vmin;
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-gap:var(--Mobile-Profile-Sections-Spacing);
        width:100%;
        font-size:var(--Body-Font-Size);
    }

    .mobile-grid-links a {
        display:flex;
        align-items:center;
        margin-bottom:0;
        padding:var(--Mobile-Profile-Sections-Padding);
        border-radius:var(--Mobile-Profile-Sections-Rounding);
        background:var(--Light-Gray);
        color:var(--Text-Color);
    }

    .create-event {
        grid-column:3/1;
        margin-top:0;
        width:auto;
        height:auto;
        margin-bottom:var(--Mobile-Profile-Sections-Spacing);
        border-radius:30px;
        font-size:inherit;
        font-weight:inherit;
    }

    .create-event i, .create-event .link-text {
        color:var(--Text-Color);
    }

    .mobile-grid-links i {
        display:flex;
        justify-content:center;
        width:var(--mobile-grid-links-Icon-Size);
        font-size:var(--mobile-grid-links-Icon-Size);
    }

    i + .link-text {
        margin-left:var(--mobile-grid-links-Icon-Gap-Right);
    }

    /*---- MOBILE: BADGES ----*/
    .badges-section {
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:var(--Mobile-Profile-Sections-Spacing);
        width:100%;
        padding:var(--Mobile-Profile-Sections-Padding);
        background:var(--Light-Gray);
        border-radius:var(--Mobile-Profile-Sections-Rounding)
    }

    .badges-section h2 {
        margin-top:0;
    }

    /*---- MOBILE: FOOTER ----*/
    footer {
        display:block;
        visibility:hidden;
        opacity:0;
    }
}