/*---------- TOP BAR  ----------*/
/* customized for PROFILE.html */

header {
    background:transparent;
    position:fixed;
    width:100%;
    z-index:3;
}

nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}

/*---------- VARIABLES FOR PROFILE PAGE  ----------*/
:root {
    --Left-Panel-Width:38vw;
    --Left-Panel-Rounding:120px;

    --Right-Content-Width:32vw;
    --Profile-Picture-Size:214px;
    --Star-Size:36px;
    --Star-Spacing:3px;
}

/*---------- LEFT PANEL  ----------*/
.left-panel {
    position:fixed;
    top:0;left:0;
    width:var(--Left-Panel-Width);
    height:100vh;
    background:var(--Primary);
    border-radius:0 var(--Left-Panel-Rounding) var(--Left-Panel-Rounding) 0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.list-links {
    font-size:var(--H2-Size);
    font-weight:400;
}

.list-links a {
    display:block;
    margin-bottom:calc(var(--H2-Size) * 0.5);
    color:var(--White);
}

a.create-event {
    margin-top:5vh;
    width:280px;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--White);
    border-radius:30px;

    font-size:var(--H3-Size);
    font-weight:700;
    color:var(--Primary);
    line-height:100%;
}

@media(max-width:600px){
    .left-panel {
        display:none;
    }
}

/*---------- RIGHTSIDE ----------*/
.rightside {
    position:fixed;
    top:0;left:0;
    margin-left:var(--Left-Panel-Width);
    width:calc(100vw - var(--Left-Panel-Width));
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.right-inner {
    width:var(--Right-Content-Width);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.profile-picture {
    width:var(--Profile-Picture-Size);
    height:var(--Profile-Picture-Size);
    object-fit:cover;
    border-radius:100%;
}

/* row of stars */
.star-rating {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:nowrap;
    margin:0.5rem 0;
}

.star-rating i {
    margin:0 calc(var(--Star-Spacing) / 2);
    display:block;
    font-size:var(--Star-Size);
}

.star-rating i.fill {
    color:var(--Primary);
}

.star-rating i.empty {
    color:var(--Secondary-Faded);
}