/*---------- TOP BAR  ----------*/
/* customized for PROFILE.html */

header {
    background:transparent;
    position:fixed;
    width:100%;
    z-index:3;
}

nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}

/* mobile adjustments for TOP BAR */
@media(max-width:600px){
    header {
        background:var(--Primary);
    }

    .searchbar {
        display:flex;
    }
}

/*---------- VARIABLES FOR PROFILE PAGE  ----------*/
:root {
    --Left-Panel-Width:38vw;
    --Left-Panel-Rounding:120px;

    --Right-Content-Width:32vw;
    --Profile-Page-Screen-Padding:10vh; /* margin at top&bottom of screen*/

    --Profile-Picture-Size:calc(var(--Right-Content-Width) * 0.420); /* prototype: 214px */
    --Star-Size:var(--H2-Size);
    --Star-Spacing:3px;

    --Profile-Desc-Margin:2rem;
    --Profile-Desc-Width:calc(var(--Right-Content-Width) * 0.8);

    --Profile-Quotes-Margin:calc(var(--Profile-Quotes-Size) * 0.8);
    --Profile-Quotes-Size:calc(var(--H1-Size) * 1.2);

    --Badges-Image-Size:7vw;
    --Badges-Spacing:1.5rem;
}

/*---------- LEFT PANEL  ----------*/
.left-panel {
    position:fixed;
    top:0;left:0;
    width:var(--Left-Panel-Width);
    height:100vh;
    background:var(--Primary);
    border-radius:0 var(--Left-Panel-Rounding) var(--Left-Panel-Rounding) 0;
    display:flex;
    align-items:center;
    justify-content:center;
}

.list-links {
    font-size:var(--H2-Size);
    font-weight:400;
}

.list-links a {
    display:block;
    margin-bottom:calc(var(--H2-Size) * 0.5);
    color:var(--White);
}

a.create-event {
    margin-top:5vh;
    width:280px;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:var(--White);
    border-radius:30px;

    font-size:var(--H3-Size);
    font-weight:700;
    color:var(--Primary);
    line-height:100%;
}

/* mobile adjustments for LEFT PANEL */
@media(max-width:600px){
    .left-panel {
        display:none;
    }

    :root {
        --Left-Panel-Width:0px;
    }
}

/*---------- RIGHTSIDE ----------*/
.rightside {
    position:absolute;
    top:0;left:0;
    margin-left:var(--Left-Panel-Width);
    width:calc(100vw - var(--Left-Panel-Width));
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.right-inner {
    width:var(--Right-Content-Width);
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:var(--Profile-Page-Screen-Padding) 0;
}

.right-inner > *:last-child {
    margin-bottom:0;
}

/*----- PROFILE USERNAME -----*/
.rightside h1.username {
    margin-top:calc(var(--H1-Size) * 0.2);
    margin-bottom:calc(var(--H1-Size) * 0.4);
}

/*----- PROFILE PICTURE -----*/
.profile-picture {
    width:var(--Profile-Picture-Size);
    height:var(--Profile-Picture-Size);
    object-fit:cover;
    border-radius:100%;
}

/*----- STAR RATING -----*/
.star-rating {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:nowrap;
    margin:0.5rem 0;
}

h1.username + .star-rating {
    margin-top:0;
}

.star-rating i {
    margin:0 calc(var(--Star-Spacing) / 2);
    display:block;
    font-size:var(--Star-Size);
}

.star-rating i.fill {
    color:var(--Primary);
}

.star-rating i.empty {
    color:var(--Secondary-Faded);
}

/*----- PROFILE DESCRIPTION -----*/
.profile-desc {
    position:relative;
    margin:var(--Profile-Desc-Margin) 0;
    width:100%;
}

.profile-desc p {
    margin:0 auto;
    width:var(--Profile-Desc-Width);
}

.profile-quote-left i,
.profile-quote-right i {
    font-size:var(--Profile-Quotes-Size);
}

.profile-quote-left {
    position:absolute;
    top:0;right:0;
    margin-top:calc(0px - (var(--Profile-Quotes-Size) / 2) + (var(--Profile-Quotes-Size) * 0.2));
    margin-right:calc(100% + var(--Profile-Quotes-Margin));
}

.profile-quote-right {
    position:absolute;
    bottom:0;left:0;
    margin-bottom:calc(0px - (var(--Profile-Quotes-Size) / 2));
    margin-left:calc(100% + var(--Profile-Quotes-Margin));
}

/*----- PROFILE BADGES -----*/
h2.badges-title {
    margin:var(--H2-Size) 0;
}

.profile-desc + .badges-title {
    margin-top:0;
}

.badges {
    display:grid;
    grid-template-columns:var(--Badges-Image-Size) var(--Badges-Image-Size) var(--Badges-Image-Size);
    grid-gap:var(--Badges-Spacing);
}

.badge {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.badge > * {
    flex-shrink:0;
    display:block;
}

.badge img {
    width:var(--Badges-Image-Size);
    height:var(--Badges-Image-Size);
    border-radius:100%;
    object-fit:cover;
}

.badge-label {
    margin-top:0.6em;
}

/*---------- FOOTER  ----------*/
/* customized for PROFILE.html */
footer {
    display:none;
}

/* mobile adjustments for RIGHTSIDE */
@media(max-width:600px){
    :root {
        --Right-Content-Width:85vw;
        --Profile-Picture-Size:25vw;
        --Badges-Image-Size:18vw;
    }

    .rightside {
        position:relative;
        top:initial;
        left:initial;
        margin-left:0;
        width:auto;
        min-height:0;
        display:block;
    }

    .right-inner {
        margin:0 auto;
        padding-top:calc(var(--TopBar-Height) + var(--Profile-Page-Screen-Padding));
    }

    .profile-desc {
        display:none;
    }

    footer {
        display:block;
    }
}