/*----------- SHARED STYLING -----------*/
:root {
    --Loading-Icon-Spin-Speed:1.5s;
    --Loading-Icon-Spin-Method:linear;
    --Loading-Dismiss-Delay:699; /* ms only */
    --Loading-Fade-Speed:400ms; /* ms only */
    --Categories-Dropdown-Speed:400ms; /* ms only */
    --Search-Buttons-Transition-Speed:0.2s;
}

* {
    backface-visibility:hidden;
}

.dont-show {
    position:absolute;
    bottom:0;left:0;
    visibility:collapse;
    width:0;height:0;
    z-index:-100;
}

/*----------- LEFT SIDEBAR -----------*/
.sidebar {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.input-field, .search-controls {
    transition:filter 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

input, .sidebar label {
    position:relative;
    outline:none;
    display:block;
    background-color:var(--Primary);
    border:none;
    font-family:var(--Body-Font)!important;
    font-weight:500;
    color:var(--White);
    width:100%;
    transform:perspective(0)
}

input::placeholder, input::-webkit-input-placeholder {
    color:var(--White);
}

.field-map, .field-map input {
    cursor:pointer;
}

.field-map {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index:0;
}

#locationButton {
    position:absolute;
    bottom:0;left:0;
    width:100%;
    height:100%;
    opacity:0;
    z-index:1;
}

.iffm-flex {
    display:flex;
    align-items:center;
    font-family:var(--Body-Font)!important;
    font-weight:500;
    color:var(--White);
}

.iffm-hover-text {
    padding-left:5px;
    font-weight:400;
}

.field-map i {
    color:var(--White);
}

.mapboxgl-map {
    margin-top:0.8rem;
}

.mapboxgl-canvas-container canvas {
    width:calc(var(--Popup-Box-Width) - (var(--Popup-Box-Padding) * 2))!important;
    height:calc((var(--Popup-Box-Width) - (var(--Popup-Box-Padding) * 2)) / 4 * 3)!important;
}

.mapboxgl-ctrl-attrib {
    position:relative;
    text-align:left;
    pointer-events:none;
}

.mapboxgl-ctrl-attrib:before {
    content:"\00A9 \2009powered by TomTom";
    text-transform:uppercase;
    letter-spacing:.5px;
    color:rgba(var(--Text-Color-RGB),0.7)
}

.mapboxgl-ctrl-attrib a {
    display:none!important;
}

.tt-search-box {
    margin-top:0px;
    background:transparent!important;
    font-family:var(--Body-Font)!important;
    color:var(--Text-Color)!important;
    box-shadow:none!important;
}

.tt-search-box-input-container {
    box-shadow:none!important;
    border-color:rgba(var(--Text-Color-RGB),0.1)!important;
    background:#fff!important;
}

/* tomtom searchbox magnifying glass */
.tt-search-box-input-container > div:first-child:not([class]){
    line-height:0;
}

.tt-search-box-input-container > div:first-child:not([class]) svg {
    fill:var(--Text-Color)!important;
}

.tt-search-box-input {
    padding:0!important;
    padding-left:9px!important;
}

.tt-search-box-result-list-container {
    margin-top:calc(0.8rem - 1px);
    margin-left:-1px;
    width:calc(100% + 2px);
    box-shadow:none!important;
    border-radius:15px!important;
    clip-path:inset(0% round 14px);
    border:1px solid rgba(var(--Text-Color-RGB),0.05);
}

.tt-search-box-input-container:not(.-focused) + .tt-search-box-result-list-container {
    border:none!important;
}

.tt-search-box-input, .tt-search-box-result-list, .tt-search-box-result-list-bold {
    color:var(--Text-Color)!important;
}

.tt-search-box-input::placeholder, .tt-search-box-input::-webkit-input-placeholder {
    color:rgba(var(--Text-Color-RGB),0.7)!important;
}

.tt-search-box-close-icon {
    fill:rgba(var(--Text-Color-RGB),0.7)!important;
    line-height:0;
}

.radiusInputWrap {
    display:flex;
    align-items:center;
    justify-content:center;
    margin:10px auto;
}

#radiusInput {
    position:relative;
    display:block;
    background:#fff!important;
    border:1px solid rgba(var(--Text-Color-RGB),0.15);
    width:25%;
    border-radius:30px;
    font-weight:400!important;
    color:var(--Text-Color)!important;
    line-height:100%;
}

.radius-units {
    padding-left:9px
}

[popup-type="map"] #popup_action_1 {
    margin-top:1rem;
}

/******************************************/

.field-time {
    display:flex;
    align-items:center;
}

.field-time label {
    width:auto!important;
}

.field-time input {
    padding:0;
    border:none;
    border-radius:0;
}

.field-time input::placeholder,
.field-time input::-webkit-input-placeholder {
    color:rgba(var(--White-RGB), 0.69);
}

.category-heading {
    cursor:pointer;
}

.category-heading .dd-arrow {
    transform-origin:50% 55%;
    transition:transform 0.3s ease-in-out;
}

.category-heading.dd-open .dd-arrow {
    transform:rotate(180deg);
}

.category-list {
    display:none;
    opacity:0;
    transition:opacity var(--Categories-Dropdown-Speed) ease-in-out;
    overflow:initial!important;
}

.category-grid {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

.show-list {
    opacity:1;
}

.checkbox-option {
    font-weight:400;
}

.checkbox-option input {
    width:0;
}

.category-list input[type="radio"]:checked:before {
    border-color:rgba(var(--White-RGB),0.69);
    background:var(--Primary);
}

.category-list input[type="radio"]:checked:after {
    content:"\2713";
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    top:50%;transform:translateY(-50%);
    margin-top:1px;
    border:1px solid transparent;
    color:var(--White);
    line-height:100%;
    z-index:2;
}

.search-controls {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
}

.search-controls button {
    outline:none;
    font-family:var(--Body-Font)!important;
    font-weight:500;
    line-height:100%;
    transition:all var(--Search-Buttons-Transition-Speed) ease-in-out;
    cursor:pointer;
}

.reset-search {
    background:var(--Primary);
    border:1px solid var(--White);
    color:var(--White);
}

.search-button {
    border:1px solid transparent;
    background:var(--White);
    color:var(--Text-Color);
}

.search-controls button:hover {
    background:var(--Secondary-Light);
    border-color:var(--Secondary);
    color:var(--Text-Color);
}

/*----------- PAGE FADE-IN / LOADING -----------*/
.cover-up {
    background:#fff;
    opacity:1;
    z-index:2;
}

.cover-up, .event-container, .cloned-events-container, .fade-out, .all-events {
    transition:opacity var(--Loading-Fade-Speed) ease-in-out;
}

.cover-up i {
    display:block;
    line-height:100%;
    color:var(--Primary);
    animation-name:loaderSpin;
    animation-duration:var(--Loading-Icon-Spin-Speed);
    animation-direction:normal;
    animation-timing-function:var(--Loading-Icon-Spin-Method);
    animation-iteration-count:infinite;
    transform-origin:center;
}

@keyframes loaderSpin {
    from {
        transform:rotate(0deg)
    }

    to {
        transform:rotate(360deg)
    }
}

.fade-out {
    opacity:0;
}

/*----------- ALL EVENTS -----------*/
.event-container {
    display:grid;
    background-color:var(--Light-Gray);
    align-items:center;
    cursor:pointer;
}

.card-image {
    width:100%;
    height:100%;
    object-fit:cover;
}

.card-description {
    padding-left:0!important;
    overflow:hidden;
}

.card-description label {
    margin-right:6px;
    font-weight:700;
}

.event-name {
    margin-bottom:0.2em;
}

.card-row {
    display:flex;
}

.card-row .location,
.card-row .date,
.card-row .time {
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.card-row .time {
    width:auto!important;
    padding-bottom:0!important;
    float:none!important;
    font-family:var(--Body-Font)!important;
    font-size:var(--Body-Font-Size)!important;
    font-weight:400!important;
    margin:0!important;
    color:inherit!important;
}

.card-row label {
    cursor:inherit;
}

[hidden]{
    display:none;
}