/* top bar adjustments for SEARCH PAGE */
header {
    background:transparent;
    position:fixed;
    width:100%;
    z-index:3;
}

nav {
    grid-template-columns:1fr 1fr;
}

.searchbar {
    display:none;
}

.top-navlinks {
    justify-content:right;
}

.top-navlinks a {
    color:var(--Main-Text);
}
/*------------------------------------------------*/
/* ------------ LEFT Column ------------------- */
/* ---------- Text fields ---------- */
.container{
    position: flex;
    width:100%;
    height:100%;
    top: 0;
    bottom:0;
    overflow-y:scroll;
    overflow-x:hidden;
}

.left-container{
    position: fixed;
    width: 38vw;
    height: 100vh;
    background-color: var(--Primary);
    border-radius: 0 120px 120px 0;
    color: var(--White);
}

.text-field-wrap{
    margin: 30% 19% 0 15%;
}

.text-field input, .drop-down {
    margin: 0 0 5% 0;
    width: 310px;
    border:none;
    outline:none;
    background: none;
    border-bottom: 1px solid var(--White);
    font-size: var(--Body-Font-Size);
    color: var(--White);
    font-family: var(--Heading-Font);
}

::placeholder{
    color: var(--White);
}

::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

/* ----------- Category ----------- */

.category {
    display: inline;
}

.category-label {
    display: block;
    font-weight: 900;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.checkbox-option {
    margin-right: 2rem;
}

.checkbox-option > input {
    width: 20px;
    margin: 0;
}

.arrow {
    color: var(--White);
    cursor: pointer;
}

.category-list {
    display: none;
}

.show {
    display: block;
}

/* ------ Buttons ------ */
.btn-wrap {
    display: flex;
    justify-content: center;
    margin: 6% auto 0;
}

.ctn {
    width: 8rem;
    font-size: 1rem;
    padding: 2% 3%;
    margin: 4%;
    border-radius: 5rem;
    cursor: pointer;
    border: 2px solid var(--White);
    background-color: var(--Primary);
    color: var(--White);
    font-family: var(--Body-Font-Size);
    font-weight: 900;
}

.ctn:hover {
    background-color: var(--White);
    color: var(--Text-Color);
}

/********************************************************************** */
/******* POPUP MAP **************************************************** */
/********************************************************************** */
#map canvas {
    width:100%!important;
    height:100%!important;
}

.tt-search-box {
    margin-top:0;
    margin-bottom:0.6rem;
}

.tt-search-box-input-container {
    border-color:var(--Light-Gray);
}

/* ------------ Right Column ------------------- */
/* --------Event Card---------- */

.event-wraper {
    display: block;
    width: 100%; 
    margin-block-start: 5rem;
}

.event-container {
    width: 50%;
    margin: 1% 0 1% 45%;
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 0 20px 20px 0;
    background-color: #f0f0f0;
    margin: auto;
}

.card-content.image {
    width: 16rem;
    height: 8.5rem;
    border-radius: 0 20px 20px 0;
    object-fit:cover;
}

.card-description {
    padding: 1.1rem 0 0 0;
    line-height: 0.9rem;
}

h3.card-content{
    padding-bottom: 1rem;
    font-size: var(--H3-Size);
}

/* --------- Footer ---------- */
.home-footer {
    display: none;
}

/*---------- MOBILE  ----------*/
@media (max-width: 600px) {
    /* top bar adjustments for SEARCH PAGE */
    header {
        position:fixed;
        right:0;
        background-color:var(--Primary);
        z-index:3;
        width: 100vw;
    }

    .top-hamburger, header .logo, .searchbar {
        display:block!important;
    }

    nav.home-topnav {
        width: 100%;
        grid-template-columns:10% auto 10%;
        justify-items: center;
        align-items: center;
    }

    .top-navlinks {
        color: var(--White);
    }

    /* ---------- Left Column---------- */

    .left-container{
        width: 100vw;
        height: 100%;
        border-radius: 0 0 7% 7%;
        position: relative;
    }

    /* Test field */
    .text-field-wrap{
        margin: 10% 18% 0 18%;
        padding-top: 2.5rem;
    }

    .text-field input, .drop-down{
        /* width: 100%; */
        margin: 0 auto 3% auto;
        padding: 3% 3%;
        border: 1px solid var(--White);
        border-radius: 2rem;
        font-size: 0.7rem;
    }   



    /* ----------- Category ----------- */
    .category-label {
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
        padding-top: 3%;
    }

    .checkbox-option {
        font-size: 0.8rem;
        margin: 0 0.3rem;
    }

    .checkbox-option > input {
        width: 1rem;
        margin: 0 0.2rem;
    }

    /* Button */
    .btn-wrap{
        margin: auto;
    }

    .ctn{
        width: 6rem;
        font-size: 0.8rem;
        margin: 4% 3% 03%3%;
        padding: 2% 3%;
        border-radius: 3rem;
    }

    /* Right Column */
    h3.card-content {
        font-size: 1rem;
    }

    p.card-content {
        font-size: 0.8rem;
    }

    /* Event Cards */
    .event-container {
        width: 100%;
        margin: 2% 0 0 0;
    }

    .event-wraper {
        display: block;
        width: 90%; 
        margin: 5%;
    }

    .card-content.image {
        width: 11em;
        height: 7.5rem;
        border-radius: 0 20px 20px 0;
    }

    .card-description {
        padding: 1.3rem 0 0 1.5rem;
        line-height: 0.9rem;
    }

    .card-content {
        margin: 0;
    }
    
    h3.card-content{
        padding-bottom: 0.8rem;
        font-size: var(--Mobile-H3-Size);
    }

    /* ---- Footer ----- */
    .home-footer {
        display: block;
        position: relative;
        margin-top: 3rem;
    }
    
}

/* ---- Custom Radius ----- */
#customRadiusSection {
    margin:1rem auto;
}

#customRadiusSection label {
    margin-right:9px;
}

#customRadiusSection input {
    outline:none;
    border:1px solid rgba(var(--Text-Color-RGB),0.2);
    border-radius:30px;
    padding:1rem 1.3rem;
}