
/*----- shared styling-----*/
:root {
    --Buttons-Fade-Speed:0.25s;
}

body {
    color:var(--White);
}

.img-wrap {
    background-image:url("../images/unsplash_hands_UOwvwZ9Dy6w.jpeg");
    background-position:center;
    background-size:cover;
}

h1 .buddy-text {
    display:inline-block;
    transform:skewX(-9deg)
}

input, button {
    outline:none;
    border:none;
    font-family:var(--Body-Font);
}

.text_field input {
    display:block;
    width:100%;
    background:transparent;
    padding-bottom:0.3rem;
    border-bottom:1px solid rgba(var(--White-RGB),0.4);
    color:var(--White);
}

.text_field input::placeholder, .text_field input::-webkit-input-placeholder {
    color:var(--White)
}

.btn-wrap {
    display:flex;
    align-items:center;
    justify-content:center;
}

button.ctn {
    display:block;
    font-weight:500;
    transition:all var(--Buttons-Fade-Speed) ease-in-out;
    cursor:pointer;
}

button.ctn:hover, .push-hovered {
    background:var(--Secondary-Light)!important;
    border-color:var(--Secondary)!important;
    color:var(--Text-Color)!important;
}

button#btnsignup {
    border:1px solid var(--White);
    background:var(--Primary);
    color:var(--White);
}

.popup-msg {
    color:var(--Text-Color)
}

.popup-msg h3 span {
    color:var(--Primary)
}


/*----- desktop -----*/
:root {
    --Left-Content-Top-Nudge:calc((var(--TopBar-Height) - var(--Logo-Height)) / 2);
    --Left-Content-Width:69%;
    --SignUp-Title-H1-Size:var(--H1-Size);

    --Form-Gap:2.5rem;

    --Input-Fields-Font-Size:calc(var(--H3-Size) * 0.8);
    --Input-Fields-Field-Width:100%;
    --Input-Fields-Spacing:1.1rem;

    --Buttons-Top-Gap:3rem;
    --Buttons-Roundness:30px;
    --Buttons-Padding:0.6rem 1.3rem;
    --Buttons-Width:40%;
    --Buttons-Font-Size:calc(var(--Body-Font-Size) * 1.1);
    --Buttons-Spacing:2rem;

    --Image-Roundness:120px;
}

@media(min-width:600px){
    header {
        position:fixed;
        top:0;left:0;
        width:100%;
        background:transparent;
        z-index:3;
    }

    .searchbar, .top-nav-container {
        display:none!important;
    }

    .container {
        position:fixed;
        top:0;left:0;
        width:100%;
        height:100%;
        background:var(--Primary);
    }

    .img-wrap {
        position:absolute;
        top:0;right:0;
        width:50%;
        height:100%;
        border-radius:var(--Image-Roundness) 0 0 var(--Image-Roundness);
    }

    .left-container {
        position:absolute;
        top:0;left:0;
        width:50%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .content {
        margin:0 auto;
        margin-top:var(--Left-Content-Top-Nudge);
        width:var(--Left-Content-Width);
    }

    h1.welcome {
        font-size:var(--SignUp-Title-H1-Size);
    }

    form {
        margin-top:var(--Form-Gap);
    }

    .text_field + .text_field {
        margin-top:var(--Input-Fields-Spacing)
    }

    .text_field input {
        width:var(--Input-Fields-Field-Width);
        font-size:var(--Input-Fields-Font-Size);
    }

    .btn-wrap {
        margin-top:var(--Buttons-Top-Gap);
    }

    button.ctn {
        width:var(--Buttons-Width);
        padding:var(--Buttons-Padding);
        border-radius:var(--Buttons-Roundness);
        font-size:var(--Buttons-Font-Size);
    }
}

/*----------------------------------------------*/

/*----- mobile -----*/
:root {
    --Mobile-Image-Height:40vh;
    --Mobile-Image-Roundness:35px;
    --Mobile-Image-Gradient-Size:40%;
    
    --Mobile-Content-Width:80%;

    --Mobile-SignUp-H1-Size:var(--Mobile-H1-Size);
    --Mobile-SignUp-H1-LineHeight:1.5; /* number only */
    --Mobile-SignUp-H1-Bottom-Gap:1.5rem;

    --Mobile-Form-Top-Gap:2.5rem;
    --Mobile-Input-Fields-Spacing:1.1rem;

    --Mobile-Buttons-Top-Gap:2.8rem;
    --Mobile-Buttons-Spacing:0.8rem;
    --Mobile-Buttons-Roundness:30px;
    --Mobile-Buttons-Padding:0.6rem 1.3rem;
    --Mobile-Buttons-Width:35%;
    --Mobile-Buttons-Font-Size:var(--Mobile-Body-Font-Size);
}

@media(max-width:600px){
    body {
        background:var(--Primary);
    }

    header {
        position:fixed;
        top:0;left:0;
        width:100%;
        z-index:2;
    }

    .container {
        margin-top:var(--TopBar-Height);
    }

    .img-wrap {
        position:relative;
        width:100%;
        height:var(--Mobile-Image-Height);
        border-radius:0 0 var(--Mobile-Image-Roundness) var(--Mobile-Image-Roundness);
        overflow:hidden;
        z-index:0;
    }

    .img-wrap:after {
        content:"";
        position:absolute;
        bottom:0;left:0;
        width:100%;
        height:var(--Mobile-Image-Gradient-Size);
        background-image:linear-gradient(to top, rgba(0,0,0,0.25), transparent)
    }

    .left-container {
        margin-bottom:calc(var(--Mobile-Form-Top-Gap) * 1.2)
    }

    .content {
        margin:0 auto;
        width:var(--Mobile-Content-Width);
    }

    h1.welcome {
        position:relative;
        margin-top:calc(0px - (var(--Mobile-SignUp-H1-Size) * var(--Mobile-SignUp-H1-LineHeight) * 2) - var(--Mobile-SignUp-H1-Bottom-Gap));
        font-size:var(--Mobile-SignUp-H1-Size);
        word-spacing:.5px;
        line-height:var(--Mobile-SignUp-H1-LineHeight);
        text-shadow:1px 1px 3px rgba(0,0,0,0.25), 2px 2px 10px rgba(0,0,0,0.420);
        text-align:right;
    }

    h1 .buddy-text {
        display:block;
        color:var(--Primary)
    }

    form {
        margin-top:calc(var(--Mobile-SignUp-H1-Bottom-Gap) + var(--Mobile-Form-Top-Gap));
    }

    .text_field + .text_field {
        margin-top:var(--Mobile-Input-Fields-Spacing)
    }

    .text_field input {
        width:100%;
        font-size:var(--Mobile-Email-Font-Size);
    }

    .btn-wrap {
        margin-top:var(--Mobile-Buttons-Top-Gap);
        flex-direction:column-reverse;
    }

    button.ctn {
        width:var(--Mobile-Buttons-Width);
        padding:var(--Mobile-Buttons-Padding);
        border-radius:var(--Mobile-Buttons-Roundness);
        font-size:var(--Mobile-Buttons-Font-Size);
    }
}