
:root {
    --form-width-full: 27rem;
    --form-width-mobile: 90%;
}   
/*----------------------------------------------*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    display: none;
}

svg {
    margin: 2rem 0 0 2rem;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    background: var( --Primary);
    height: 100vh;
}

.left-container{
    margin-right: 50%;
    width: 100%;
}

/*---------- Right Image --------*/
.img-wrap{
    position: fixed;
    object-fit: cover;
}

.side-image {
    width: 50vw;
    height: 100vh;
    border-radius: 20% 0 0 20%;
} 

/*---------- Welcome Title --------*/
.welcome{
    margin: 25% 10% 3% 20% ;
    color: var(--White);
}

/*---------- Form Section --------*/
.text_field input {
    margin: 0 auto 3% 20%;
    width: var(--form-width-full);
    border:none;
    outline:none;
    background: none;
    border-bottom: 1px solid var(--White);
    font-size: 1rem;
    color: var(--White);
}

::placeholder{
    color: var(--White);
}

/*---------- Button Section --------*/
.btn-wrap{
    text-align: center;
    width: 100%
}

.ctn{
    width: 10rem;
    font-size: 1rem;
    padding: 2% 2%;
    margin: 4% 0;
    border: 2px solid var(--White);
    border-radius: 5rem;
    cursor: pointer;
    background-color: var(--Primary);
    color: var(--White);
    font-weight: 900;
}

.ctn:hover {
    background-color: var(--White);
    color: var(--Text-Color)
}

/* Error Message */
#noteToUser{
    color: var(--White);
    margin: 5% 0 0 20%;
}

@media (max-width: 600px) {
    /* Top Bar */
    header {
        display: block;
    }

    .container {
        display: block;
        height: 100%;
    }

    .left-container{
        width: 100vw;
        padding-bottom: 1rem;
    }

    /*---------- Head Section --------*/
    .img-wrap{
        position: relative;
    }

    .side-image {
        width: 100vw;
        height: 450px;
        border-radius: 0 0 10% 10%;
        margin-bottom: 15%;
    } 

    .buddy-logo {
        display: none;
    }

    .welcome {
        position: absolute;
        margin: auto;
        top: 25rem;
        left: 4rem;
    }

    .buddy {
        display: block;
    }

    .welcome {
        display: none;
    }

    /*---------- Form Section --------*/
    .form {
        width: 80%;
        margin: auto;
    }

    .text_field{
        margin: 0;
    }

    .text_field input {
        margin: 0 0 8% 3%;
        width: var(--form-width-mobile);
    }
    
    /*---------- Button Section --------*/
    .btn-wrap{
        width: 90%
    }

    .ctn{
        width: 9rem;
        padding: 1rem;
    }

    /* Error Message */
    #noteToUser{
        margin: 5% 0 0 15%;
    }
}