/*-------- TOP BAR --------*/
header {
    background-color:var(--BG);
}

nav.home-topnav {
    display:grid;
    grid-template-columns:0fr 1fr auto;
    align-items:center;
    padding:var(--TopBar-Padding);
}

@media (max-width: 600px) {
    nav.home-topnav {
        grid-template-columns:var(--Top-Hamburger-Size) auto var(--Top-Hamburger-Size);
    }
}

/*-------- HAMBURGER MENU --------*/
.top-hamburger {
    line-height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.top-hamburger i {
    font-size:var(--Top-Hamburger-Size);
    color:var(--Main-Title);
}

@media (min-width: 600px) {
    .top-hamburger {
        display:none;
    }
}

/*-------- TOP BAR LOGO --------*/
nav.home-topnav .logo {
    display:block;
    font-family:"Roboto Slab";
    font-size:1.8rem;
}

@media (max-width: 600px) {
    .home-topnav .logo {
        flex:1;
        text-align:center;
    }
}

/*-------- SEARCHBAR --------*/
.searchbar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* flex:1; */
    width:500px;
    height:40px;

    margin:0 var(--Searchbar-Spacing);
    padding:var(--Searchbar-Padding);
    border-radius:var(--Searchbar-Roundness);
}

.searchbar input {
    width:100%;
    outline:none;
    border:0px solid transparent;    
    font-family:var(--Body-Font);
    color:var(--Searchbar-Text-Color);
}

.searchbar, .searchbar input {
    background:var(--Searchbar-BG);
    font-size:var(--Searchbar-Font-Size);
}

.searchbar button {
    padding:4px;
    outline:none;
    line-height:0;
    border:0px solid transparent;
    background:transparent;
}

.searchbar button i {
    font-size:var(--Searchbar-Font-Size);
    color:var(--Searchbar-Icon-Color-A);
}

@media (max-width: 600px) {
    .searchbar {
        padding-right:0;
        flex:none;
        margin:0;
        padding:0;
    }

    .searchbar, .searchbar input {
        background:transparent;
    }

    .searchbar input {
        visibility:collapse;
        width:0!important;
    }

    .searchbar button i {
        color:var(--Searchbar-Icon-Color-B);
    }
}

/*-------- TOP RIGHT LINKS --------*/
.top-navlinks {
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:var(--TopBar-Links-Size);
    font-weight:500;
}

.top-navlinks a {
    color:var(--Main-Title);
}

.top-navlinks a + a {
    margin-left:var(--TopBar-Links-Spacing);
}

.account-icon i {
    font-size:calc(var(--TopBar-Links-Size) * 1.5);
}

.hide-on-web {
    display: none;
}

@media (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }

    .hide-on-web {
        display: block;
    }

    .top-navlinks hr {
        border:0px solid transparent;
        border-bottom: 1px dashed var(--Main-Title);
        text-align: left;
        margin: 10px;
        width: 70%;
    }

    .top-navlinks {
        position: absolute;
        background-color: var(--BG);
        left:100vw;
        top: 97px;
        gap:0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        /* height: 38%; */
        transition: 0.3s;
        z-index: 1;
    }

    .top-navlinks a + a {
        margin-left:0;
    }

    .hamburger-links{
        margin: 15px!important;
    }

    .hamburger-links:hover{
        color: #999;
    }

    .top-navlinks.active {
        left: 0;
    }
}