:root {
    /*------ TOP BAR ------*/
    --TopBar-Padding:20px;
    --Top-Hamburger-Size:1.4rem;

    /*------ LOGO ------*/
    --Logo-Container-Width:150px;
    --Logo-Width:90px;  --Mobile-Logo-Width:75px;
    --Logo-Height:calc(var(--Logo-Width) / 3);  --Mobile-Logo-Height:calc(var(--Mobile-Logo-Width) / 3);

    /*------ SEARCHBAR ------*/
    --Searchbar-Padding:0.8rem 1rem;
    --Searchbar-Font-Size:1rem;
    --Searchbar-Roundness:30px;
    --Searchbar-Spacing:25px; /* left & right gap */

    /*------ TOP RIGHT LINKS ------*/
    --TopBar-Links-Size:1rem;
    --TopBar-Links-Spacing:5vmin;
}

header {
    background-color:var(--Orange);
}

nav.home-topnav {
    display:grid;
    grid-template-columns:0fr 1fr auto;
    align-items:center;
    padding:var(--TopBar-Padding);
}

@media (max-width: 600px) {
    nav.home-topnav {
        grid-template-columns:var(--Top-Hamburger-Size) auto var(--Top-Hamburger-Size);
    }
}

/*-------- HAMBURGER MENU --------*/
.top-hamburger {
    line-height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.top-hamburger i {
    font-size:var(--Top-Hamburger-Size);
    color:var(--White);
}

@media (min-width: 600px) {
    .top-hamburger {
        display:none;
    }
}

/*-------- TOP BAR LOGO --------*/
nav.home-topnav .logo {
    display:block;
    width:var(--Logo-Container-Width);
}

nav .logo svg {
    display:block;
    margin:auto;
    width:var(--Logo-Width);
    height:var(--Logo-Height);
}

@media (max-width: 600px) {
    .home-topnav .logo {
        --Logo-Container-Width:100%;
        --Logo-Width:var(--Mobile-Logo-Width);
        --Logo-Height:var(--Mobile-Logo-Height);
        flex:1;
        text-align:center;
    }
}

/*-------- SEARCHBAR --------*/
.searchbar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* flex:1; */
    width:500px;
    height:40px;

    margin:0 var(--Searchbar-Spacing);
    padding:var(--Searchbar-Padding);
    border-radius:var(--Searchbar-Roundness);
}

.searchbar input {
    width:100%;
    outline:none;
    border:0px solid transparent;    
    font-family:var(--Body-Font);
    color:var(--Text-Color);
}

.searchbar, .searchbar input {
    background:var(--White);
    font-size:var(--Searchbar-Font-Size);
}

.searchbar button {
    padding:4px;
    outline:none;
    line-height:0;
    border:0px solid transparent;
    background:transparent;
}

.searchbar button i {
    font-size:var(--Searchbar-Font-Size);
    color:var(--Text-Color);
}

@media (max-width: 600px) {
    .searchbar {
        padding-right:0;
        flex:none;
        margin:0;
        padding:0;
    }

    .searchbar, .searchbar input {
        background:transparent;
    }

    .searchbar input {
        visibility:collapse;
        width:0!important;
        display:none;
    }

    .searchbar button i {
        color:var(--White);
    }
}

@media (max-width: 1000px) {
    .searchbar {
        flex:1;
        width:auto;
    }
}

/*-------- TOP RIGHT LINKS --------*/
.top-navlinks {
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:var(--TopBar-Links-Size);
    font-weight:500;
}

.top-navlinks a {
    color:var(--White);
}

.top-navlinks a + a {
    margin-left:var(--TopBar-Links-Spacing);
}

.account-icon i {
    font-size:calc(var(--TopBar-Links-Size) * 1.5);
}

.hide-on-web {
    display: none;
}

@media (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }

    .hide-on-web {
        display: block;
    }

    .top-navlinks hr {
        border:0px solid transparent;
        border-bottom: 1px dashed var(--White);
        text-align: left;
        margin: 10px;
        width: 70%;
    }

    .top-navlinks {
        position: absolute;
        background-color: var(--Orange);
        left:100vw;
        top: 97px;
        gap:0;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        /* height: 38%; */
        transition: 0.3s;
        z-index: 1;
    }

    .top-navlinks a + a {
        margin-left:0;
    }

    .hamburger-links{
        margin: 15px!important;
    }

    .top-navlinks.active {
        left: 0;
    }
}