/*-------- TOP BAR --------*/
nav.home-topnav {
    display:flex;
    align-items:center;
    width:100%;
    padding:var(--TopBar-Padding);
}

nav.home-topnav .logo {
    display:block;
    font-family:"Roboto Slab";
    font-size:18px;
}

/*-------- SEARCHBAR --------*/
.searchbar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex:1;

    margin:0 var(--Searchbar-Spacing);
    padding:var(--Searchbar-Padding);
    background:var(--Searchbar-BG);
    border-radius:20px;
}

.searchbar input {
    outline:none;
    border:0px solid transparent;    
    font-family:var(--Body-Font);
    color:var(--Searchbar-Text-Color);
}

.searchbar button {
    padding:4px;
    outline:none;
    line-height:0;
    border:0px solid transparent;
    background:transparent;
    color:var(--Searchbar-Icon-Color);
}

/*-------- TOP RIGHT LINKS --------*/
nav.home-topnav {
    font-size:var(--TopBar-Links-Size);
}

nav.home-topnav a + a {
    margin-left:var(--TopBar-Links-Spacing);
}

.account-icon i {
    font-size:calc(var(--TopBar-Links-Size) * 1.5);
}