.home-top-section{
    background-color: var(--Header-BG);
    height: 80vh;
    padding-top: 60px;
    position: relative;
}

.top-container h1{
    width: 27%;
    font-family: var(--Body-Font);
    font-size: 3.5rem;
    font-weight: 900; 
    position: absolute;
    top: 30%;
    left: 15%;
    z-index: 1;
}

.top-container button{
    font-family: var(--Body-Font);
    font-size: 1.2rem;
    padding: 1% 4% ;
    position: absolute;
    left: 15%;
    bottom: 20%;
    border: 3px dashed;
    border-radius: 3rem;
    z-index: 1;
}

.top-container img{
    width: 110vh;
    height: 60vh;
    position: absolute;
    right:15%
}

@media (max-width: 600px) {
    .home-top-section{
        height: 50vh;
    }
    .top-container h1{
        width: 25%;
        font-size: 1.5rem;
        top: 25%;
    }
    .top-container button{
        font-size: 0.6rem;
        padding: 1% 4% ;
        bottom: 30%;
        border: 2px dashed;
    }
    .top-container img{
        width: 45vh;
        height: 30vh;
        right: 10%
    }
}    
