/* Global CSS Variables */

:root {
    /*------ FONTS / TEXT SETTINGS ------*/
    --Body-Font:"brandon-grotesque";
    --Body-Font-Size:1.1rem;  --Mobile-Body-Font-Size:1.2rem;

    --Heading-Font:"macho";
    --H1-Size:2.2rem;  --Mobile-H1-Size:32px;
    --H2-Size:1.6rem;  --Mobile-H2-Size:24px;
    --H3-Size:1.4rem;  --Mobile-H3-Size:18px;

    /* figma prototype sizes: */
    /*
    --H1-Size:48px;  --Mobile-H1-Size:32px;
    --H2-Size:36px;  --Mobile-H2-Size:24px;
    --H3-Size:32px;  --Mobile-H3-Size:18px;
    */

    /*------ COLORS ------*/
    --Primary:#ff7951;
    --Primary-RGB:255,121,81;

    --Primary-Light:#f7b1A6;

    --Secondary:#ffb543;
    --Secondary-Light:#ffe4ae;

    --Accent:#2367a2;
    --Accent-Light:#7fa9c6;

    --White:#f9f9f9;
    --White-RGB:249,249,249;

    --Text-Color:#545454;
    --Text-Color-RGB:84,84,84;

    --Light-Gray:#f3f3f3;

    /*------ HEADER ------*/
    --Header-Height:75vh;
    --Header-BG:#f0f0f0;

    --Hero-Title-Size:64px;  --Mobile-Hero-Title-Size:40px;
    --Hero-Title-Line-Height:130%;

    --Hero-CTA-Top-Gap:6vmin;
    --Hero-CTA-Size:32px;  --Mobile-Hero-CTA-Size:18px;

    --Hero-CTA-Width:280px;  --Mobile-Hero-CTA-Width:200px;
    --Hero-CTA-Height:80px;  --Mobile-Hero-CTA-Height:57px;
    --Hero-CTA-Roundness:30px;

    /*
    --Hero-Image-Left-Margin:-7rem;
    --Hero-Image-Width:60vw;
    --Hero-Image-Height:80%;
    */

    /*------ CAROUSEL / SLIDESHOW ------*/
    --Carousel-Image-Width:60vw;
    --Carousel-Image-Height:400px;

    --Carousel-Arrows-Size:2rem;
    --Carousel-Arrows-Color:var(--White);
    --Carousel-Arrows-Gap:-3rem;

    --Carousel-Bottom-Gap:-2rem;
    --Carousel-Dots-Size:0.6rem;
    --Carousel-Dots-Color:var(--Text-Color);
    --Carousel-Dots-Active-Color:var(--White);
    --Carousel-Dots-Padding:0px;
    --Carousel-Dots-Spacing:30px;

    /*------ HOME CATEGORIES ------*/
    --Category-Links-BG:#fff;
    --Category-Links-Border:#444;

    --Category-Buttons-BG:#f0f0f0;
}