/* Global CSS Variables */

:root {
    /*------ GENERAL ------*/
    --Body-Font:"Inter";
    --Text-Color:#444;
    --Accent-Color:#222; /* change later */
    --Links-Color:#222;

    /*------ TOP BAR ------*/
    --TopBar-Padding:20px;
    --Top-Hamburger-Size:1.4rem;

    /*------ SEARCHBAR ------*/
    --Searchbar-BG:#fff;
    --Searchbar-Padding:0.8rem 1rem;
    --Searchbar-Font-Size:1rem;
    --Searchbar-Text-Color:#222;
    --Searchbar-Icon-Color-A:#999;
    --Searchbar-Icon-Color-B:#444;
    --Searchbar-Roundness:2rem;
    --Searchbar-Spacing:25px; /* left & right gap */

    /*------ TOP RIGHT LINKS ------*/
    --TopBar-Links-Size:1rem;
    --TopBar-Links-Spacing:5vmin;

    /*------ HEADER ------*/
    --Header-Height:75vh;
    --Header-BG:#f0f0f0;

    --Hero-Title-Size:2.5rem;

    --Hero-CTA-Top-Gap:4vh;
    --Hero-CTA-Size:1.2rem;
    --Hero-CTA-Padding:0.6rem 5rem;
    --Hero-CTA-BG:#f0f0f0;
    --Hero-CTA-Border:#747474;

    --Hero-Image-Left-Margin:-7rem;
    --Hero-Image-Width:60vw;
    --Hero-Image-Height:80%;

    /*------ HOME CATEGORIES ------*/
    --Category-Links-BG:#fff;
    --Category-Links-Border:#444;

    --Category-Buttons-BG:#f0f0f0;
}