:root {
    --Accent-Color:;
    --Links-Color:#222;
    --Text-Color:#444;

    --TopBar-Padding:20px;

    --Searchbar-BG:#fff;
    --Searchbar-Padding:8px 15px;
    --Searchbar-Text-Color:#222;

    --Searchbar-Icon-Color:#999;

    --Header-BG:#f0f0f0;

    --Body-Font:"Inter";
}